{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<meta charset="utf-8" />
<script type="text/javascript" src="{% static "admin/js/jquery.js" %}">
</script>
<script type="text/javascript" src="{% static "erp/js/jquery-barcode.js" %}">
</script>
<style>
*{margin:0;padding:0}
</style>
</head>
<body>
<div id="bcTarget" style="width:150px;height:66px"></div>
<script type="text/javascript">
$(document).ready(function(){

	var code = {{ code }};
	console.log(code);
	$("#bcTarget").empty().barcode(String(code), "code128",{barWidth:1, barHeight:30,showHRI:false});
	
	
  	
    
})
</script>
</body>
</html>