{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<meta charset="utf-8" />
<script type="text/javascript" src="{% static "admin/js/jquery.js" %}">
</script>
<script type="text/javascript" src="{% static "erp/js/jquery-barcode.js" %}">
</script>
<style>
*{margin:0;padding:0}
</style>
</head>
<body style="text-align:center;padding:100px">
<h1>对不起，您没有这个模块的权限</h1>
<p>请联系超级管理员</p>
<script type="text/javascript">
$(document).ready(function(){

  	
    
})
</script>
</body>
</html>