{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<meta charset="utf-8" />
<link rel="shortcut icon" href="{% static "erp/img/logo.ico" %}">
<title>ERP</title>
<script type="text/javascript" src="{% static "admin/js/jquery.js" %}">
</script>
<link rel="stylesheet" href="{% static "erp/css/index.css" %}">
<link rel="stylesheet" href="{% static "erp/css/bootstrap.min.css" %}">
<script type="text/javascript" src="{% static "erp/js/md5.js" %}">
</script>
</head>

<body style="background: #27292b">

		<div class="header">
			<div class="block">

			</div>	
		</div>


		<div class="content">
			<div class="block" style="overflow:hidden;width:1280px">

			{% block content %}
				<div class="line2" style="color:#fff;margin-bottom:30px">
							智慧工厂·印刷管理系统		
				</div>	
			<div>
				<a href='/sales/quotation_list/1' class="box" style='margin-left:90px'><span>销售</span></a>
				<a href='/purchase/purchase_list/1' class="box" style="background:#43b51f"><span>采购</span></a>
				<a href='/storage/storage_list/1' class="box" style="background:#f58d00"><span>库存</span></a>
				<a href='/finance/finance_list/1' class="box" style="background:#640f6c"><span>财务</span></a>
				<a href='/work/tracking_list/1' class="box" style="background:#d32c2c"><span>生产管理</span></a>
			</div>
			<div>
				<a href='/customer/customer_list/1' class="box" style="background:#3c5b9b;margin-left:90px"><span>客户</span></a>
				<a href='/customer/supplier_list/1' class="box" style="background:#4c5e51"><span>供应商</span></a>
				<a href='/users/list/1' class="box" style="background:#f874a4"><span>员工列表</span></a>
				<a href='/statistics/statistics_list/1' class="box" style="background:#3950f8"><span>每日统计</span></a>
				<a href='/alert/alert_list/1/' class="box" style="background:#62debc"><span>预警信息</span></a>
			</div>
			 {% endblock  %}



			</div>		
		</div>	


		{% block footer %}
		{% endblock %}

	<script type="text/javascript">
	$(document).ready(function(){

	
	})</script>


{% block javascript %}
{% endblock %}


</body>
</html>


