 {% extends "base_erp.html" %}
 {% load i18n admin_static %}
{% block head %}
<link rel="stylesheet" href="{% static "erp/css/purchase.css" %}">
{% endblock %}
			{% block inner_header %}
					
			{% endblock %}			

 {% block main %}
 <div class="main long_main" style="overflow:hidden">
		{% ifequal process_step 1 %}
	 	<div class="line3">
					宁波市鄞州联城包装彩印有限公司
		</div>
		<div class="line3">
					订货合同
		</div>	
		<div class="head_row">
			<label style="width:45px">兹向</label>
 			<input type="text" id="customer_name">
 			<label  style="width:240px">单位订购以下物品，所用订单</label>
			<input type="text" id="productID" value={{productID}} >
		</div>
		<div class="head_row">
 			<label for="contacts">联系人</label>
 			<input type="text" id="contacts" />
 			<label for="contacts_phone">联系电话</label>
 			<input type="number" id="contacts_phone" />
 			<label for="fax">传真</label>
 			<input type="text" id="fax" />
 		</div>
<!--
		<div class="head_row" style="height:70px" id="bcTarget_row" style="display:none">
			<label for="customer_name">条形码:</label>
			<iframe src="" frameborder="0" id="barcode_iframe"></iframe>
		</div>
-->
		 <table class="purchase_table" style="margin-top: 20px;">
			<tr>
				<th class="col_20">货物名称</th>
				<th class="col_20">规格颜色</th>
				<th class="col_20">数量</th>
				<th class="col_10">单位</th>
				<th class="col_10">单价</th>
				<th class="col_20">金额</th>
			</tr>
			<tr>
				<th class="col_20"><input type="text" id="product_name_1" name="product_name" value={{records.9}}></th>
				<th class="col_20"><input type="text" id="size_1" value={{records.1}}></th>
				<th class="col_20"><input type="text" id="amount_1" value={{records.2}}></th>
				<th class="col_10"><input type="text" id="danwei_1" ></th>
				<th class="col_10"><input type="number" id="price_1"></th>
				<th class="col_20"><input type="number" id="fee_1"></th>
			</tr>
			<tr>
				<th class="col_20"><input type="text" id="product_name_2" name="product_name" value={{records.10}}></th>
				<th class="col_20"><input type="text" id="size_2" value={{records.4}}></th>
				<th class="col_20"><input type="text" id="amount_2" value={{records.5}}></th>
				<th class="col_10"><input type="text" id="danwei_2" ></th>
				<th class="col_10"><input type="number" id="price_2"></th>
				<th class="col_20"><input type="number" id="fee_2"></th>
			</tr>
			<tr>
				<th class="col_20"><input type="text" id="product_name_3" name="product_name" value={{records.11}}></th>
				<th class="col_20"><input type="text" id="size_3" value={{records.7}}></th>
				<th class="col_20"><input type="text" id="amount_3" value={{records.8}}></th>
				<th class="col_10"><input type="text" id="danwei_3" ></th>
				<th class="col_10"><input type="number" id="price_3"></th>
				<th class="col_20"><input type="number" id="fee_3"></th>
			</tr>
			<tr>
				<th class="col_20"><input type="text" id="product_name_4" name="product_name"></th>
				<th class="col_20"><input type="text" id="size_4" ></th>
				<th class="col_20"><input type="text" id="amount_4" ></th>
				<th class="col_10"><input type="text" id="danwei_4" ></th>
				<th class="col_10"><input type="number" id="price_4"></th>
				<th class="col_20"><input type="number" id="fee_4"></th>
			</tr>
			<tr>
				<th class="col_20"><input type="text" id="product_name_5" name="product_name"></th>
				<th class="col_20"><input type="text" id="size_5" ></th>
				<th class="col_20"><input type="text" id="amount_5" ></th>
				<th class="col_10"><input type="text" id="danwei_5" ></th>
				<th class="col_10"><input type="number" id="price_5"></th>
				<th class="col_20"><input type="number" id="fee_5"></th>
			</tr>

			<tr>
				<th class="col_20"><input type="text" id="product_name_6" name="product_name"></th>
				<th class="col_20"><input type="text" id="size_6" ></th>
				<th class="col_20"><input type="text" id="amount_6" ></th>
				<th class="col_10"><input type="text" id="danwei_6" ></th>
				<th class="col_10"><input type="number" id="price_6"></th>
				<th class="col_20"><input type="number" id="fee_6"></th>
			</tr>
			<tr>
				<th class="col_20"><input type="text" id="product_name_7" name="product_name"></th>
				<th class="col_20"><input type="text" id="size_7" ></th>
				<th class="col_20"><input type="text" id="amount_7" ></th>
				<th class="col_10"><input type="text" id="danwei_7" ></th>
				<th class="col_10"><input type="number" id="price_7"></th>
				<th class="col_20"><input type="number" id="fee_7"></th>
			</tr>
			<tr>
				<th class="col_20"><input type="text" id="product_name_8" name="product_name"></th>
				<th class="col_20"><input type="text" id="size_8" ></th>
				<th class="col_20"><input type="text" id="amount_8" ></th>
				<th class="col_10"><input type="text" id="danwei_8" ></th>
				<th class="col_10"><input type="number" id="price_8"></th>
				<th class="col_20"><input type="number" id="fee_8"></th>
			</tr>

			<tr>
				<th class="col_20"><input type="text" id="product_name_9" name="product_name"></th>
				<th class="col_20"><input type="text" id="size_9" ></th>
				<th class="col_20"><input type="text" id="amount_9" ></th>
				<th class="col_10"><input type="text" id="danwei_9" ></th>
				<th class="col_10"><input type="number" id="price_9"></th>
				<th class="col_20"><input type="number" id="fee_9"></th>
			</tr>
		</table>
		 <table class="purchase_table">
			 <tr>
			 	<th class="col_10">合计金额</th>
				<td class="col_50"><input type="number" id="total_fee"></td>
				<th class="col_20"></th>
				<th class="col_20"></th>
			</tr>
		</table>
		<table class="purchase_table" >
			<tr>
				<th class="col_10">备注</th>
				<td class="col_90"><input type="text" id="notes" ></td>
			</tr>
		</table>
		 <table class="purchase_table">
			 <tr>
			 	<th class="col_10">交货期</th>
				<td class="col_30"><input type="text" id="deadline" onClick="WdatePicker()" ></td>
				<th class="col_10">交货地址</th>
				<th class="col_50"><input type="text" id="address"></th>
			</tr>
		</table>
	
 		<div class="head_row" style="margin-bottom:40px">
 		   <button type="submit" class="btn btn-primary" id="purchase_fill_single">点击生成采购单</button>
 		</div>

		 {% endifequal %}  

	{% ifequal process_step 2 %}
	 			<div class="line2">
							印刷采购单
				</div>	
		<div class="head_row" style="height:70px" id="bcTarget_row">
			<label for="customer_name">条形码:</label>
			<iframe src="" frameborder="0" id="barcode_iframe"></iframe>
		</div>
		<table class="purchase_table">
			<tr>
			<th class="col_20">客户名<span class="red">*</span></th>
			<th class="col_10"><input type="text" id="customer_name2"></th>
			<th class="col_20">产品名称<span class="red">*</span></th>
			<th class="col_20"><input type="text" id="product_name2"></th>		
			<th class="col_10">日期<span class="red">*</span></th>
			<th class="col_20"><input type="text" id="create_time" onClick="WdatePicker()"></th>
			</tr>
		</table>			

		<table class="purchase_table">
			<tr>
				<th class="col_20">采购项目<span class="red">*</span></th>
				<th class="col_10">单价<span class="red">*</span></th>
				<th class="col_10">数目<span class="red">*</span></th>
				<th class="col_10">总金额<span class="red">*</span></th>
				<th class="col_10">供应商<span class="red">*</span></th>
				<th class="col_10">联系人<span class="red">*</span></th>
				<th class="col_10">联系电话<span class="red">*</span></th>
				<th class="col_20">备注</th>
			</tr>
			<tr>
				<th class="col_20"><input type="text" id="col1_1" name="count"></th>
				<th class="col_10"><input type="number" id="col2_1"></th>
				<th class="col_10"><input type="number" id="col3_1"></th>
				<th class="col_10"><input type="number" id="col4_1" name="total_fee"></th>
				<th class="col_10"><input type="text" id="col5_1"></th>
				<th class="col_10"><input type="text" id="col6_1"></th>
				<th class="col_10"><input type="text" id="col7_1"></th>
				<th class="col_20"><input type="text" id="col8_1"></th>
			</tr>
			<tr>
				<th class="col_20"><input type="text" id="col1_2" name="count"></th>
				<th class="col_10"><input type="number" id="col2_2"></th>
				<th class="col_10"><input type="number" id="col3_2"></th>
				<th class="col_10"><input type="number" id="col4_2" name="total_fee"></th>
				<th class="col_10"><input type="text" id="col5_2"></th>
				<th class="col_10"><input type="text" id="col6_2"></th>
				<th class="col_10"><input type="text" id="col7_2"></th>
				<th class="col_20"><input type="text" id="col8_2"></th>
			</tr>
			<tr>
				<th class="col_20"><input type="text" id="col1_3" name="count"></th>
				<th class="col_10"><input type="number" id="col2_3"></th>
				<th class="col_10"><input type="number" id="col3_3"></th>
				<th class="col_10"><input type="number" id="col4_3" name="total_fee"></th>
				<th class="col_10"><input type="text" id="col5_3"></th>
				<th class="col_10"><input type="text" id="col6_3"></th>
				<th class="col_10"><input type="text" id="col7_3"></th>
				<th class="col_20"><input type="text" id="col8_3"></th>
			</tr>
			<tr>
				<th class="col_20"><input type="text" id="col1_4" name="count"></th>
				<th class="col_10"><input type="number" id="col2_4"></th>
				<th class="col_10"><input type="number" id="col3_4"></th>
				<th class="col_10"><input type="number" id="col4_4" name="total_fee"></th>
				<th class="col_10"><input type="text" id="col5_4"></th>
				<th class="col_10"><input type="text" id="col6_4"></th>
				<th class="col_10"><input type="text" id="col7_4"></th>
				<th class="col_20"><input type="text" id="col8_4"></th>
			</tr>
			<tr>
				<th class="col_20"><input type="text" id="col1_5" name="count"></th>
				<th class="col_10"><input type="number" id="col2_5"></th>
				<th class="col_10"><input type="number" id="col3_5"></th>
				<th class="col_10"><input type="number" id="col4_5" name="total_fee"></th>
				<th class="col_10"><input type="text" id="col5_5"></th>
				<th class="col_10"><input type="text" id="col6_5"></th>
				<th class="col_10"><input type="text" id="col7_5"></th>
				<th class="col_20"><input type="text" id="col8_5"></th>
			</tr>
			<tr>
				<th class="col_20"><input type="text" id="col1_6" name="count"></th>
				<th class="col_10"><input type="number" id="col2_6"></th>
				<th class="col_10"><input type="number" id="col3_6"></th>
				<th class="col_10"><input type="number" id="col4_6" name="total_fee"></th>
				<th class="col_10"><input type="text" id="col5_6"></th>
				<th class="col_10"><input type="text" id="col6_6"></th>
				<th class="col_10"><input type="text" id="col7_6"></th>
				<th class="col_20"><input type="text" id="col8_6"></th>
			</tr>
			<tr>
				<th class="col_20"><input type="text" id="col1_7" name="count"></th>
				<th class="col_10"><input type="number" id="col2_7"></th>
				<th class="col_10"><input type="number" id="col3_7"></th>
				<th class="col_10"><input type="number" id="col4_7" name="total_fee"></th>
				<th class="col_10"><input type="text" id="col5_7"></th>
				<th class="col_10"><input type="text" id="col6_7"></th>
				<th class="col_10"><input type="text" id="col7_7"></th>
				<th class="col_20"><input type="text" id="col8_7"></th>
			</tr>
			<tr>
				<th class="col_20"><input type="text" id="col1_8" name="count"></th>
				<th class="col_10"><input type="number" id="col2_8"></th>
				<th class="col_10"><input type="number" id="col3_8"></th>
				<th class="col_10"><input type="number" id="col4_8" name="total_fee"></th>
				<th class="col_10"><input type="text" id="col5_8"></th>
				<th class="col_10"><input type="text" id="col6_8"></th>
				<th class="col_10"><input type="text" id="col7_8"></th>
				<th class="col_20"><input type="text" id="col8_8"></th>
			</tr>
			<tr>
				<th class="col_20"><input type="text" id="col1_9" name="count"></th>
				<th class="col_10"><input type="number" id="col2_9"></th>
				<th class="col_10"><input type="number" id="col3_9"></th>
				<th class="col_10"><input type="number" id="col4_9" name="total_fee"></th>
				<th class="col_10"><input type="text" id="col5_9"></th>
				<th class="col_10"><input type="text" id="col6_9"></th>
				<th class="col_10"><input type="text" id="col7_9"></th>
				<th class="col_20"><input type="text" id="col8_9"></th>
			</tr>

		</table>
		 <div class="head_row" style="margin-bottom:40px">
 		   <button type="submit" class="btn btn-primary" id="purchase_fill_multiple">点击生成采购单</button>
 		</div>


			<!--

			<div class="purchase_box" style="display:none">
				<label for="length">项数：</label>
			<input type="text" id='length'>
			<input type="button" id="showtables" value="点击生成表格">
			</div>
	-->

	{% endifequal %}  

  </div>
 
 {% endblock %}

{% block javascript %}

 	<script type="text/javascript">
	$(document).ready(function(){
		$("#purchase_box").show();
		$("#purchase_aside").addClass('subtitle_focus');
		var multi_length=0;

		var date=new Date();
		var newdate= date.getFullYear()+'-'+(parseInt(date.getMonth())+1)+'-'+date.getDate();
		$("#create_time").val(newdate);

		var href =window.location.href.split("/");
		var productID=href[5];

//条形码
			var barcode_src='/barcode/'+productID;
			$("#barcode_iframe").attr("src",barcode_src);


		var mater_list=['','250克灰底白板','250克白底白板','300克灰底白板','300克白底白板','350克灰底白板','350克白底白板','400克灰底白板','400克白底白板','450克灰底白板','450克白底白板','80克双胶纸','100克双胶纸','128克铜版纸','157克铜版纸','210克白卡','230克白卡','250克白卡','300克白卡','350克白卡','250克铜版卡','300克铜版卡','350克铜版卡'];
		var mater={{ records.0 }};
		if(mater!=0){
			$("#product_name_1").val(mater_list[mater]);
		}
		

		var mater2={{ records.3 }};
		if(mater2!=0){
			$("#product_name_2").val(mater_list[mater2]);
		}
		
		var wl_waleng_list=['','瓦楞0g','瓦楞90g','瓦楞110g'];
		var wl_waleng={{ records.6 }};
		if(wl_waleng!=0){
			$("#product_name_3").val(wl_waleng_list[wl_waleng]);
		}
		

//录入单工序表
		$("#purchase_fill_single").click(function(){
			var maxnum=3;
			var customer=$.trim($("#customer_name").val());
			var create_time=newdate;
			var contacts=$.trim($("#contacts").val());
			var contacts_phone=$.trim($("#contacts_phone").val());
			var fax=$.trim($("#fax").val());
			
			var total_fee=$.trim($("#total_fee").val());
			var deadline=$.trim($("#deadline").val());
			var address=$.trim($("#address").val());
			var notes=$.trim($("#notes").val());

			$("input[name=product_name]").each(function(a,b){
				var temp = $.trim($(b).val());
				if(temp.length!=0){
					var num = $(b).attr("id").split("_")[2];
					if(num>maxnum){
						maxnum=num;
					}
				}
			});
			//写入列表
			$.ajax({
                  type : "POST",
                  url : "/purchase/fill_single_list/",
                  data:{'productID':productID,'customer':customer,'create_time':create_time},
                  dataType : "json",
                  success : function(data){  
                  		  if(data==1){
								console.log("ok");
			                }else{
			                  alert("录入失败");
			                }	    
                  }
            })

			//console.log(maxnum);
			var count=0;
			for(var i=1;i<=maxnum;i++){
				var product_name=$.trim($("#product_name_"+i).val());
				var size=$.trim($("#size_"+i).val());	
				var amount=$.trim($("#amount_"+i).val());	
				var price=$.trim($("#price_"+i).val());
				var danwei=$.trim($("#danwei_"+i).val());
				var fee=$.trim($("#fee_"+i).val());
				$.ajax({
				  	type : "POST",
				  	url : "/purchase/fill_single/",
				  	data:{'productID':productID,'customer':customer,'create_time':create_time,'product_name':product_name,'contacts':contacts,'contacts_phone':contacts_phone,'fax':fax,'size':size,'amount':amount,'price':price,'danwei':danwei,'fee':fee,'total_fee':total_fee,'notes':notes,'deadline':deadline,'address':address},
				  	dataType : "json",
				  	success : function(data) {    
		                if(data==1){
		             		count=count+1;
		                }else{
		                  alert("第"+i+"条项目录入失败");
		                }

	                	if(count==maxnum){
							alert("录入成功");
							window.location.href='/purchase/purchase_list/1';
						}
		              }
	          })
			}
		})

//多工序提交
		$("#purchase_fill_multiple").click(function(){
			var maxnum=0;
			var customer=$.trim($("#customer_name2").val());
			var product_name2=$.trim($("#product_name2").val());
			var create_time=$.trim($("#create_time").val());

			$("input[name=count]").each(function(a,b){
				var temp = $.trim($(b).val());
				if(temp.length!=0){
					var num = $(b).attr("id").split("_")[1];
					if(num>maxnum){
						maxnum=num;
					}
				}
			});
			$.ajax({
                  type : "POST",
                  url : "/purchase/fill_multiple_list/",
                  data:{'productID':productID,'customer':customer,'product_name2':product_name2,'create_time':create_time},
                  dataType : "json",
                  success : function(data){  
                  		  if(data==1){
								console.log("ok");
			                }else{
			                  alert("录入失败");
			                }	    
                  }
            })

			//console.log(maxnum);
			var count=0;
			for(var i=1;i<=maxnum;i++){
				var col1=$.trim($("#col1_"+i).val());
				var col2=$.trim($("#col2_"+i).val());
				var col3=$.trim($("#col3_"+i).val());
				var col4=$.trim($("#col4_"+i).val());
				var col5=$.trim($("#col5_"+i).val());
				var col6=$.trim($("#col6_"+i).val());
				var col7=$.trim($("#col7_"+i).val());
				var col8=$.trim($("#col8_"+i).val());
				$.ajax({
				  	type : "POST",
				  	url : "/purchase/fill_multiple/",
				  	data:{'productID':productID,'col1':col1,'col2':col2,'col3':col3,'col4':col4,'col5':col5,'col6':col6,'col7':col7,'col8':col8,'customer':customer,'product_name2':product_name2,'create_time':create_time},
				  	dataType : "json",
				  	success : function(data) {    
		                if(data==1){
		             		count=count+1;
		                }else{
		                  alert("第"+i+"条项目录入失败");
		                }

	                	if(count==maxnum){
							alert("录入成功");
							window.location.href='/purchase/purchase_list/1';
						}
		              }
	          })
			}

		})

 //自动计算和
 $("input[name=total_fee]").focus(function(){
 	var num=$(this).attr('id').split("_")[1];
 	var sum=$("#col2_"+num).val()*$("#col3_"+num).val();
 	$(this).val(sum);
 })

	})</script>

{% endblock %}