 {% extends "base_erp.html" %}
 {% load i18n admin_static %}

{% block head %}
<link rel="stylesheet" href="{% static "erp/css/sales.css" %}">
{% endblock %}



			{% block inner_header %}
					
			{% endblock %}			

 {% block main %}
 <div class="main" style="overflow:hidden;">
 			<div class="line2">
							施工单
				</div>	
 	<div class="head_row">
		<label for="customer_name" style="width:250px">施工单号（订单号，产品ID）:</label>
 		<input  type="text" id="productID" value={{productID}}>
	</div>
	<div class="head_row" style="height:70px;display:none" id="bcTarget_row">
		<label for="customer_name">条形码:</label>
		 <div id="bcTarget" style="margin-left:150px"></div>
	</div>

   	<table class="process_table" style="margin-top: 20px;" >
		<tr>
			<th class="col_10">客户名<span class="red">*</span></th>
			<td class="col_15"> <input type="text" id="customer_name"  ></td>
			<th class="col_10">开单日期<span class="red">*</span></th>
			<td class="col_15"> <input type="text" id="create_time" onClick="WdatePicker()"></td>
			<th class="col_10">交货期<span class="red">*</span></th>
			<td class="col_15"> <input type="text" id="deadline" onClick="WdatePicker()" ></td>
			<th class="col_10">预警期<span class="red">*</span></th>
			<td class="col_15"> <input type="text" id="alerttime" onClick="WdatePicker()"></td>
		</tr>
	</table>
   	<table class="process_table" >
		<tr>
			<th class="col_10">产品名<span class="red">*</span></th>
			<td class="col_20"> <input type="text" id="product_name"  ></td>
			<th class="col_10">号码</th>
			<td class="col_30"> 
				<input type="text" id="number_1" style="height:25px;border-bottom:solid">
			  	<input type="text" id="number_2" style="height:25px;">
					</td>
			<th class="col_10">数目<span class="red">*</span></th>
			<td class="col_20"> <input type="text" id="amount" ></td>
		</tr>
	</table>
	 <table class="process_table" >
		<tr>
			<th class="col_10">拼板</th>
			<td class="col_10"> <input type="text" id="pinban"  style="width:70%">联</td>
			<th class="col_10">印数</th>
			<td class="col_10"> <input type="text" id="yinshu" style="width:70%">张</td>
			<th class="col_10">印刷</th>
			<td class="col_10" style='font-size:10.5px'> 
				<input type="text" id="yinsha" style="width:30%">面
				<input type="text" id="yinsha2" style="width:30%">色
			</td>
			<th class="col_10">加印数</th>
			<td class="col_10">+<input type="text" id="jiayinshu" style="width:70%"></td>
			<th class="col_10">针脚</th>
			<td class="col_10"> <input type="text" id="zhenjiao" ></td>
		</tr>
	</table>
	 <table class="process_table" >
		<tr>
			<th class="col_10">总印数</th>
			<td class="col_30" style='font-size:10.5px'>
				<input type="text" id="total_yinshu_1"  style="width:25%">X
				<input type="text" id="total_yinshu_2"  style="width:25%">=
				<input type="text" id="total_yinshu"  style="width:25%">
			</td>
			<th class="col_10">压痕</th>
			<td class="col_20">
				新刀<input type="radio" name="yaheng" value="1" checked='checked'>
				老刀<input type="radio" name="yaheng" value="2">
			</td>
			<th class="col_10">另印要求</th>
			<td class="col_20"> <input type="text" id="lingyin" ></td>
		</tr>
	</table>
	<table class="process_table" >
		<tr>
			<th class="col_10">表面处理<span class="red">*</span></th>
			<td class="col_30">
				<select name="surface" id="surface" class="surface_sel" style="width:100%;margin-right:0">
			 		<option value="1">上光</option>
			 		<option value="2">吸塑</option>
					<option value="3">光膜</option>
					<option value="4">压膜</option>
					<option value="5">烫金</option>
					<option value="6">撒粉</option>
					<option value="7">对裱</option>
					<option value="8">亚膜</option>
					<option value="0">请手动输入</option>
			 	</select>	
			 	 <input type="text" class="surface_ipt" style="display:none" id="surface_ipt" placeholder="请输入" val=''>

			</td>
			<th class="col_10">工序</th>
			<td class="col_20"> 
				单<input type="radio" name="process" value="1" checked='checked'>
				多<input type="radio" name="process" value="2"></td>
			<th class="col_10">备注</th>
			<td class="col_20"> <input type="text" id="notes" ></td>
		</tr>
	</table>
	<table class="process_table" >
		<tr>
			<th class="col_20">原料名称<span class="red">*</span></th>
			<th class="col_20">大料张数<span class="red">*</span></th>
			<th class="col_20">开料尺寸<span class="red">*</span></th>
			<th class="col_20">开数<span class="red">*</span></th>
			<th class="col_20">开印数</th>
		</tr>
		<tr>
			<th class="col_20">
					<select name="material" id="material" class="material_sel" style="width:100%;margin-right:0">
 			 			<option value="1">250克灰底白板</option>
 			 			<option value="2">250克白底白板</option>
						<option value="3">300克灰底白板</option>
						<option value="4">300克白底白板</option>
						<option value="5">350克灰底白板</option>
						<option value="6">350克白底白板</option>
						<option value="7">400克灰底白板</option>
						<option value="8">400克白底白板</option>
						<option value="9">450克灰底白板</option>
						<option value="10">450克白底白板</option>
						<option value="11">80克双胶纸</option>
						<option value="12">100克双胶纸</option>
						<option value="13">128克铜版纸</option>
						<option value="14">157克铜版纸</option>
						<option value="15">210克白卡</option>
						<option value="16">230克白卡</option>
						<option value="17">250克白卡</option>
						<option value="18">300克白卡</option>
						<option value="19">350克白卡</option>
						<option value="20">250克铜版卡</option>
						<option value="21">300克铜版卡</option>
						<option value="22">350克铜版卡</option>
						<option value="0">请手动输入</option>
 			 		</select>	
 			 		 <input type="text" class="material_ipt" style="display:none" id="material_ipt" placeholder="请输入" val=''>

			</th>
			<th class="col_20"><input type="text" id="daliao"></th>
			<th class="col_20"><input type="text" id="size"></th>
			<th class="col_20"><input type="text" id="kaishu"></th>
			<th class="col_20"><input type="text" id="kaiyin"></th>
		</tr>
		<tr>
			<th class="col_20">
					<select name="material2" id="material2" class="material2_sel" style="width:100%;margin-right:0">
 			 			<option value="1">250克灰底白板</option>
 			 			<option value="2">250克白底白板</option>
						<option value="3">300克灰底白板</option>
						<option value="4">300克白底白板</option>
						<option value="5">350克灰底白板</option>
						<option value="6">350克白底白板</option>
						<option value="7">400克灰底白板</option>
						<option value="8">400克白底白板</option>
						<option value="9">450克灰底白板</option>
						<option value="10">450克白底白板</option>
						<option value="11">80克双胶纸</option>
						<option value="12">100克双胶纸</option>
						<option value="13">128克铜版纸</option>
						<option value="14">157克铜版纸</option>
						<option value="15">210克白卡</option>
						<option value="16">230克白卡</option>
						<option value="17">250克白卡</option>
						<option value="18">300克白卡</option>
						<option value="19">350克白卡</option>
						<option value="20">250克铜版卡</option>
						<option value="21">300克铜版卡</option>
						<option value="22">350克铜版卡</option>
						<option value="0">请手动输入</option>
 			 		</select>	
 			 		 <input type="text" class="material2_ipt" style="display:none" id="material2_ipt" placeholder="请输入" val=''>

			</th>
			<th class="col_20"><input type="text" id="daliao2"></th>
			<th class="col_20"><input type="text" id="size2"></th>
			<th class="col_20"><input type="text" id="kaishu2"></th>
			<th class="col_20"><input type="text" id="kaiyin2"></th>
		</tr>
	</table>
	<table class="process_table" >
		<tr>
			<th class="col_20">附带材料</th>
			<th class="col_80">
				<label for="">实样</label><input type="radio" name="fudai" value="1">
				<label for="">彩色</label><input type="radio" name="fudai" value="2">
				<label for="">彩喷稿</label><input type="radio" name="fudai" value="3">
				<label for="">黑稿</label><input type="radio" name="fudai" value="4">
				<label for="">钢刀尺寸</label><input type="radio" name="fudai" value="5">
			</th>
		</tr>
	</table>
	<table class="process_table">
		<tr>
			<th class="col_20">印刷质量要求</th>
			<th class="col_80"><input type='text' name="" id="quality" ></th>
		</tr>
	</table>
	<table class="process_table">
		<tr>
			<td class="col_100">
				<iframe src="" name="img_iframe" id="order_img_iframe" frameborder="0" scrolling="no" style="width:100%;height:100%;"></iframe>
			</td>
		</tr>
	</table>
	<table class="process_table" >
		<tr>
			<th class="col_10">瓦楞要求</th>
			<th class="col_10">开料尺寸</th>
			<td class="col_20"> <input type="text" id="wl_size" ></td>
			<th class="col_10">所开筒尺寸</th>
			<td class="col_10"> <input type="text" id="wl_size2"  ></td>
			<th class="col_10">瓦楞数目</th>
			<td class="col_10"> <input type="text" id="wl_amount"  ></td>
			<th class="col_10">粗细瓦楞</th>
			<td class="col_10">
				粗<input type="radio" name="wl_thin" value="1" checked='checked'>
				细<input type="radio" name="wl_thin" value="2"></td>
			</td>
		</tr>
	</table>
	<table class="process_table" >
		<tr>
			<th class="col_10">瓦楞要求</th>
			<th class="col_10">底纸用料<span class="red">*</span></th>
			<td class="col_20">
				<select name="wl_feizhi" id="wl_feizhi" class="wl_feizhi_sel" style="width:100%;margin-right:0">
 			 			<option value="1">0g</option>
 			 			<option value="2">90g</option>
						<option value="3">100g</option>
						<option value="4">110g</option>
						<option value="5">120g</option>
						<option value="0">请手动输入</option>
 			 	</select>
 			 	<input type="text" class="wl_feizhi_ipt" style="display:none" id="wl_feizhi_ipt" placeholder="请输入" val=''>
 			 </td>

			<th class="col_10">瓦楞用料<span class="red">*</span></th>
			<td class="col_20">
				<select name="wl_waleng" id="wl_waleng" class="wl_waleng_sel" style="width:100%;margin-right:0">
 			 			<option value="1">0g</option>
 			 			<option value="2">90g</option>
						<option value="3">110g</option>
						<option value="0">请手动输入</option>
 			 		</select>
 			 	<input type="text" class="wl_waleng_ipt" style="display:none" id="wl_waleng_ipt" placeholder="请输入" val=''>
 			 </td>

			<th class="col_10">裱料情况</th>
			<td class="col_20"> <input type="text" id="wl_biaoliao" ></td>
		</tr>

	</table>

 		<div class="head_row" style="margin-bottom:40px">
 		   <button type="submit" class="btn btn-primary button_below" id="submit">点击生成施工单</button>
 		</div>

  </div>
 
 {% endblock %}

{% block javascript %}

 	<script type="text/javascript">
	$(document).ready(function(){
		$("#sales_box").show();	
		$("#process").addClass('subtitle_focus');
		var productID= {{productID|safe}};

		var order_img_iframe_src = '/upload_iframe/'+productID;
		$("#order_img_iframe").attr("src",order_img_iframe_src);

		$("#submit").click(function(){
			var img_flag=0;
			var productID=$.trim($('#productID').val());
			$.ajax({
				  	type : "POST",
				  	url : "/sales/check_img/",
				  	data:{'productID':productID},
				  	dataType : "json",
				  	success : function(data){    
		              	img_flag=data;
		              					              	
						var customer=$.trim($("#customer_name").val());
						var create_time=$.trim($("#create_time").val());
						var deadline=$.trim($("#deadline").val());
						var alerttime=$.trim($("#alerttime").val());
						
						var product_name=$.trim($("#product_name").val());
						var number_1=$.trim($("#number_1").val());
						var number_2=$.trim($("#number_2").val());
						var amount=$.trim($("#amount").val());

						var pinban=$.trim($("#pinban").val());
						var yinshu=$.trim($("#yinshu").val());
						var yinsha=$.trim($("#yinsha").val());
						var jiayinshu=$.trim($("#jiayinshu").val());
						var zhenjiao=$.trim($("#zhenjiao").val());

						var total_yinshu=$.trim($("#total_yinshu").val());
						var yaheng=$.trim($("input[name=yaheng]:checked").val());
						var lingyin=$.trim($("#lingyin").val());

						var surface=$.trim($("#surface").val());
						var process=$.trim($("input[name=process]:checked").val());
						var notes=$.trim($("#notes").val());

						var material=$.trim($("#material").val());
						var daliao=$.trim($("#daliao").val());
						var size=$.trim($("#size").val());
						var kaiyin=$.trim($("#kaiyin").val());
						var kaishu=$.trim($("#kaishu").val());

						var fudai=$("input[name=fudai]:checked").val();
						var quality=$.trim($("#quality").val());
				
						var wl_size=$.trim($("#wl_size").val());
						var wl_size2=$.trim($("#wl_size2").val());
						var wl_thin=$.trim($("input[name=wl_thin]:checked").val());
						var wl_feizhi=$.trim($("#wl_feizhi").val());
						var wl_biaoliao=$.trim($("#wl_biaoliao").val());
						var wl_waleng=$.trim($("#wl_waleng").val());
						var yinsha2=$.trim($("#yinsha2").val());
						var total_yinshu_1=$.trim($("#total_yinshu_1").val());
						var total_yinshu_2=$.trim($("#total_yinshu_2").val());

						var wl_feizhi_ipt=$.trim($("#wl_feizhi_ipt").val());
						var wl_waleng_ipt=$.trim($("#wl_waleng_ipt").val());
						var material_ipt=$.trim($("#material_ipt").val());
						var surface_ipt=$.trim($("#surface_ipt").val());
				
						var material2=$.trim($("#material2").val());
						var daliao2=$.trim($("#daliao2").val());
						var size2=$.trim($("#size2").val());
						var kaiyin2=$.trim($("#kaiyin2").val());
						var kaishu2=$.trim($("#kaishu2").val());
						var material2_ipt=$.trim($("#material2_ipt").val());

						var wl_amount=$.trim($("#wl_amount").val());
						img_flag=1;
						if(img_flag==0){
							alert("请点击上传图片");
						}else if(productID.length==0){
							alert("施工单ID不能为空");
						}else if(customer.length==0){
							alert("客户名不能为空");
						}else if(deadline.length==0){
							alert("交货日期不能为空");
						}else if(alerttime.length==0){
							alert("预警日期不能为空");
						}else if(product_name.length==0){
							alert("产品名称不能为空");
						}else if(amount.length==0){
							alert("数目不能为空");
						}else if(surface.length==0){
							alert("表面处理不能为空");
						}else if(material.length==0){
							alert("原料不能为空");
						}else if(daliao.length==0){
							alert("大料张数不能为空");
						}else if(size.length==0){
							alert("开料尺寸不能为空");
						}else if(kaishu.length==0){
							alert("开数不能为空");
						}else if(wl_feizhi.length==0){
							alert("底纸用料不能为空");
						}else if(wl_waleng.length==0){
							alert("瓦楞用料不能为空");
						}else{
							$.ajax({
							  	type : "POST",
							  	url : "/sales/fill_process/",
							  	data:{'productID':productID,'customer':customer,'create_time':create_time,'deadline':deadline,'alerttime':alerttime,'product_name':product_name,'number_2':number_2,'number_1':number_1,'amount':amount,'pinban':pinban,'yinshu':yinshu,'yinsha':yinsha,'jiayinshu':jiayinshu,'zhenjiao':zhenjiao,'total_yinshu':total_yinshu,'yaheng':yaheng,'lingyin':lingyin,'surface':surface,'process':process,'notes':notes,'material':material,'daliao':daliao,'size':size,'kaishu':kaishu,'kaiyin':kaiyin,'fudai':fudai,'quality':quality,'wl_size':wl_size,'wl_size2':wl_size2,'wl_feizhi':wl_feizhi,'wl_thin':wl_thin,'wl_biaoliao':wl_biaoliao,'wl_waleng':wl_waleng,'yinsha2':yinsha2,'total_yinshu_1':total_yinshu_1,'total_yinshu_2':total_yinshu_2,'wl_feizhi_ipt':wl_feizhi_ipt,'wl_waleng_ipt':wl_waleng_ipt,'material_ipt':material_ipt,'surface_ipt':surface_ipt,'material2':material2,'daliao2':daliao2,'size2':size2,'kaishu2':kaishu2,'kaiyin2':kaiyin2,'material2_ipt':material2_ipt,'wl_amount':wl_amount},
							  	dataType : "json",
							  	success : function(data){    
					                if(data==1){
					                	alert("录入成功");
					                   window.location.href='/sales/process_list/1';
					                }else{
					                  alert("录入失败:"+data.message);
					                }
					              }
					          })

						}			
		             }
		          })
		})

 $(".wl_feizhi_sel").change(function(){
 	var choice=$(this).val();
 	if(choice==0){
 		$(".wl_feizhi_sel").hide();
 		$(".wl_feizhi_ipt").show();
 	}
 })

  $(".wl_waleng_sel").change(function(){
 	var choice=$(this).val();
 	if(choice==0){
 		$(".wl_waleng_sel").hide();
 		$(".wl_waleng_ipt").show();
 	}
 })

 $(".material_sel").change(function(){
 	var choice=$(this).val();
 	if(choice==0){
 		$(".material_sel").hide();
 		$(".material_ipt").show();
 	}
 })

 $(".surface_sel").change(function(){
 	var choice=$(this).val();
 	if(choice==0){
 		$(".surface_sel").hide();
 		$(".surface_ipt").show();
 	}
 })

 $(".material2_sel").change(function(){
 	var choice=$(this).val();
 	if(choice==0){
 		$(".material2_sel").hide();
 		$(".material2_ipt").show();
 	}
 })

  		$("#productID").blur(function(){
			var productID2=$("#productID").val();
			var zero_length=8-parseInt(String(productID2).length);
			var zero_query='';
			for(i=0;i<zero_length;i++){
				zero_query=zero_query+'0';
			};
			var newcode=zero_query+productID2;
			$("#bcTarget").barcode(newcode,"code11");
			$("#bcTarget_row").slideDown(1000);
		})
	    var date=new Date();
	    var month = (parseInt(date.getMonth())+1)<10?'0'+(parseInt(date.getMonth())+1):parseInt(date.getMonth())+1;
	    var day = date.getDate()<10?'0'+date.getDate():date.getDate();
		var newdate= date.getFullYear()+'-'+month+'-'+day;
		$("#create_time").val(newdate);


	})</script>

{% endblock %}