 {% extends "base_erp.html" %}
 {% load i18n admin_static %}
{% block head %}
<link rel="stylesheet" href="{% static "erp/css/sales.css" %}">
{% endblock %}

			{% block inner_header %}
					
			{% endblock %}	

 {% block main %}
 <div class="main" style="overflow:hidden;">
		<div class="line2">
							销售：送货单	
				</div>

 	<div id="choice_1_box">
	 		<div class="head_row" style="margin-top:0;text-align:center;font-size:20px">
	 			东川游泳馆设备有限公司送货单
		 	</div>
	 		<div class="head_row" style="margin-top:5px">
 			<label for="deliveryID">送货单号</label>
 			<input type="text" id="deliveryID" value="{{deliveryID}}"/> 	
 		</div>
 		 <div class="head_row" style="margin-top:0">
 		 	<label for="send_name" style="width:120px">送货单位</label>
 			<input type="text" id="send_name" style="width:250px" value="鄞州联城包装彩印有限公司">
 		</div>
 		 <div class="head_row" style="margin-top:0">
 			<label for="delivery_name" style="width:120px">收货单位</label>
 			<input type="text" id="delivery_name" style="width:250px" value="东川游泳馆设备有限公司">
 			<label for="delivery_time">填写时间</label>
 			<input type="text" id="delivery_time" onClick="WdatePicker()">
 		</div>


	<table class="delivery_table">
		<tr>
			<th class="col_10">订单号<span class="red">*</span></th>
			<th class="col_10">品号</th>
			<th class="col_20">品名<span class="red">*</span></th>
			<th class="col_10">个/箱<span class="red">*</span></th>
			<th class="col_10">箱数<span class="red">*</span></th>
			<th class="col_10">数目<span class="red">*</span></th>
			<th class="col_10">单价<span class="red">*</span></th>
			<th class="col_20">备注</th>
		</tr>
		<tr>
			<th class="col_10"><input type="text" class="productID_1" id="productID_1"></th>
			<th class="col_10"><input type="text" id="product_number_1"></th>
			<th class="col_20"><input type="text" id="product_name_1"></th>
			<th class="col_10"><input type="number" id="perbox_1"></th>
			<th class="col_10"><input type="number" id="box_1"></th>
			<th class="col_10"><input type="number" id="delivery_amount_1"></th>
			<th class="col_10"><input type="hidden" id="price_1"></th>
			<th class="col_20"><input type="text" id="notes_1"></th>
		</tr>

		<tr>
			<th class="col_10"><input type="text" class="productID_1" id="productID_2"></th>
			<th class="col_10"><input type="text" id="product_number_2"></th>
			<th class="col_20"><input type="text" id="product_name_2"></th>
			<th class="col_10"><input type="number" id="perbox_2"></th>
			<th class="col_10"><input type="number" id="box_2"></th>
			<th class="col_10"><input type="number" id="delivery_amount_2"></th>
			<th class="col_10"><input type="hidden" id="price_2"></th>
			<th class="col_20"><input type="text" id="notes_2"></th>
		</tr>	
		<tr>
			<th class="col_10"><input type="text" class="productID_1" id="productID_3"></th>
			<th class="col_10"><input type="text" id="product_number_3"></th>
			<th class="col_20"><input type="text" id="product_name_3"></th>
			<th class="col_10"><input type="number" id="perbox_3"></th>
			<th class="col_10"><input type="number" id="box_3"></th>
			<th class="col_10"><input type="number" id="delivery_amount_3"></th>
			<th class="col_10"><input type="hidden" id="price_3"></th>
			<th class="col_20"><input type="text" id="notes_3"></th>
		</tr>
		<tr>
			<th class="col_10"><input type="text" class="productID_1" id="productID_4"></th>
			<th class="col_10"><input type="text" id="product_number_4"></th>
			<th class="col_20"><input type="text" id="product_name_4"></th>
			<th class="col_10"><input type="number" id="perbox_4"></th>
			<th class="col_10"><input type="number" id="box_4"></th>
			<th class="col_10"><input type="number" id="delivery_amount_4"></th>
			<th class="col_10"><input type="hidden" id="price_4"></th>
			<th class="col_20"><input type="text" id="notes_4"></th>
		</tr>
		<tr>
			<th class="col_10"><input type="text" class="productID_1" id="productID_5"></th>
			<th class="col_10"><input type="text" id="product_number_5"></th>
			<th class="col_20"><input type="text" id="product_name_5"></th>
			<th class="col_10"><input type="number" id="perbox_5"></th>
			<th class="col_10"><input type="number" id="box_5"></th>
			<th class="col_10"><input type="number" id="delivery_amount_5"></th>
			<th class="col_10"><input type="hidden" id="price_5"></th>
			<th class="col_20"><input type="text" id="notes_5"></th>
		</tr>

			</table>
		<table class="delivery_table">
		<tr>
			<th class="col_20">总金额合计</th>
			<th class="col_80"><input type="number" id="total_fee"></th>
		</tr>
		</table>		
		<div class="head_row">
		 	<label for="delivery_man">送货人</label>
 			<input type="text" id="delivery_man" />
 		 	<label for="purchase_man">采购</label>
 			<input type="text" id="purchase_man" />
 			<label for="receive_man" style="width:150px">收货人</label>
 			<input type="text" id="receive_man"/>
 		</div>

 		<div class="head_row last_row" style="margin-bottom:40px">
 		   <button type="submit" class="btn btn-primary" id="submit_1">点击生成送货单</button>
 		</div>

 		
 	</div>


  </div>
 
 {% endblock %}

{% block javascript %}

 	<script type="text/javascript">
	$(document).ready(function(){
		$("#sales_box").show();	
		$("#delivery").addClass('subtitle_focus');

	    var date=new Date();
	    var month = (parseInt(date.getMonth())+1)<10?'0'+(parseInt(date.getMonth())+1):parseInt(date.getMonth())+1;
	    var day = date.getDate()<10?'0'+date.getDate():date.getDate();
		var newdate= date.getFullYear()+'-'+month+'-'+day;
		$("#delivery_time").val(newdate);

		var choice = {{ choice|safe }};
		if(choice==2){

			$("#submit_1").click(function(){
			var maxnum=0;

				$(".productID_1").each(function(a,b){
					var temp = $.trim($(b).val());
					if(temp.length!=0){
						var num = $(b).attr("id").split("_")[1];
						if(num>maxnum){
							maxnum=num;
						}
					}
				});
				var deliveryID=$("#deliveryID").val();
				var delivery_name=$("#delivery_name").val();
				var delivery_time=$("#delivery_time").val();
				var receive_man=$("#receive_man").val();
				var delivery_man=$("#delivery_man").val();
				var total_fee=$("#total_fee").val();
				var delivery_address=$("#delivery_address").val();
				var choice=2;
				var customer='东川';

				var send_name=$("#send_name").val();
				var purchase_man=$("#purchase_man").val();

				for(var i=1;i<=maxnum;i++){
					var productID=$("#productID_"+i).val();
					var product_name=$.trim($("#product_name_"+i).val());
					var delivery_amount=$.trim($("#delivery_amount_"+i).val());
					var order_amount=delivery_amount;
					var price=$.trim($("#price_"+i).val());
					var fee=delivery_amount*price;
						price='';
					var notes=$.trim($("#notes_"+i).val());

					var product_number=$.trim($("#product_number_"+i).val());
					var perbox=$.trim($("#perbox_"+i).val());
					var box=$.trim($("#box_"+i).val());

					if(productID.length==0){
						alert("第"+i+"行的订单号不能为空");
						i=maxnum;
					}else if(order_amount.length==0){
						alert("第"+i+"行的订单数目不能为空");
						i=maxnum;
					}else if(delivery_amount.length==0){
						alert("第"+i+"行的送货数目不能为空");
						i=maxnum;
					}else if(product_name.length==0){
						alert("第"+i+"行的产品名称不能为空");
						i=maxnum;
					}else{
						$.ajax({
		                      type : "POST",
		                      url : "/sales/fill_delivery_2/",
		                      data:{'deliveryID':deliveryID,'choice':choice,'delivery_name':delivery_name,'delivery_time':delivery_time,'receive_man':receive_man,'delivery_man':delivery_man,'delivery_address':delivery_address,'total_fee':total_fee,'productID':productID,'product_name':product_name,'order_amount':order_amount,'delivery_amount':delivery_amount,'price':price,'fee':fee,'notes':notes,'send_name':send_name,'purchase_man':purchase_man,'product_number':product_number,'perbox':perbox,'box':box,'customer':customer},
		                      dataType : "json",
		                      success : function(data) {  
		                      		if(data==1){
		                      			maxnum--;
		                      			if(maxnum==0){
			                      			alert("录入成功");
			                      			window.location.href='/sales/delivery_list/1';
			                      		}
		                      		}else{
		                      			alert("录入失败："+data.message);
		                      			i=maxnum;
		                      		}
		                      }
                		  })
					}

				}
			})

 			$(".productID_1").blur(function(){
 				var productID = $(this).val();
 				var num = $(this).attr("id").split("_")[1];
 				$.ajax({
                      type : "POST",
                      url : "/sales/get_details_from_order/",
                      data:{'productID':productID},
                      dataType : "json",
                      success : function(data){  
                      		if(data==0){
                      			alert("没有订单号为"+productID+"的订单信息")
                      		}else{
                      			$("#product_name_"+num).val(data[0]);
	                      		$("#delivery_amount_"+num).val(data[1]);
	                      		$("#price_"+num).val(data[2]);
                      		}
                      }
                  })

 			})


		}
//choice1 end

	})</script>

{% endblock %}