 {% extends "base_erp.html" %}
 {% load i18n admin_static %}
{% block head %}
<link rel="stylesheet" href="{% static "erp/css/sales.css" %}">
{% endblock %}

			{% block inner_header %}
					
			{% endblock %}	

 {% block main %}
 <div class="main" style="overflow:hidden;">
		<div class="line2">
							销售：送货单	
				</div>

 	<div id="choice_1_box">
 		 <div class="head_row">
 			鄞州联城包装彩印有限公司送货单
 		</div>
 		 <div class="head_row">
 			<label for="deliveryID">送货单号</label>
 			<input type="text" id="deliveryID" value="{{deliveryID}}"/> 	
 		</div>
 		 <div class="head_row">
 			<label for="delivery_name" style="width:150px">收货单位或姓名</label>
 			<input type="text" id="delivery_name" style="width:250px" value=''>
 			<label for="delivery_time">填写时间</label>
 			<input type="text" id="delivery_time" onClick="WdatePicker()">
 		</div>


	<table class="delivery_table">
		<tr>
			<th class="col_10">订单号<span class="red">*</span></th>
			<th class="col_30">名称与规格<span class="red">*</span></th>
			<th class="col_10">订单数目<span class="red">*</span></th>
			<th class="col_10">送货数目<span class="red">*</span></th>
			<th class="col_10">单价<span class="red">*</span></th>
			<th class="col_10">金额<span class="red">*</span></th>
			<th class="col_20">备注</th>
		</tr>

		<tr>
			<th class="col_10"><input type="text" class="productID_1" id="productID_1"></th>
			<th class="col_30"><input type="text" id="product_name_1"></th>
			<th class="col_10"><input type="number" id="order_amount_1"></th>
			<th class="col_10"><input type="number" id="delivery_amount_1"></th>
			<th class="col_10"><input type="number" id="price_1"></th>
			<th class="col_10"><input type="number" id="fee_1"></th>
			<th class="col_20"><input type="text" id="notes_1"></th>
		</tr>

		<tr>
			<th class="col_10"><input type="text" class="productID_1" id="productID_2"></th>
			<th class="col_30"><input type="text" id="product_name_2"></th>
			<th class="col_10"><input type="number" id="order_amount_2"></th>
			<th class="col_10"><input type="number" id="delivery_amount_2"></th>
			<th class="col_10"><input type="number" id="price_2"></th>
			<th class="col_10"><input type="number" id="fee_2"></th>
			<th class="col_20"><input type="text" id="notes_2"></th>
		</tr>	
		<tr>
			<th class="col_10"><input type="text" class="productID_1" id="productID_3"></th>
			<th class="col_30"><input type="text" id="product_name_3"></th>
			<th class="col_10"><input type="number" id="order_amount_3"></th>
			<th class="col_10"><input type="number" id="delivery_amount_3"></th>
			<th class="col_10"><input type="number" id="price_3"></th>
			<th class="col_10"><input type="number" id="fee_3"></th>
			<th class="col_20"><input type="text" id="notes_3"></th>
		</tr>
		<tr>
			<th class="col_10"><input type="text" class="productID_1" id="productID_4"></th>
			<th class="col_30"><input type="text" id="product_name_4"></th>
			<th class="col_10"><input type="number" id="order_amount_4"></th>
			<th class="col_10"><input type="number" id="delivery_amount_4"></th>
			<th class="col_10"><input type="number" id="price_4"></th>
			<th class="col_10"><input type="number" id="fee_4"></th>
			<th class="col_20"><input type="text" id="notes_4"></th>
		</tr>
		<tr>
			<th class="col_10"><input type="text" class="productID_1" id="productID_5"></th>
			<th class="col_30"><input type="text" id="product_name_5"></th>
			<th class="col_10"><input type="number" id="order_amount_5"></th>
			<th class="col_10"><input type="number" id="delivery_amount_5"></th>
			<th class="col_10"><input type="number" id="price_5"></th>
			<th class="col_10"><input type="number" id="fee_5"></th>
			<th class="col_20"><input type="text" id="notes_5"></th>
		</tr>
		<tr>
			<th class="col_10"><input type="text" class="productID_1" id="productID_6"></th>
			<th class="col_30"><input type="text" id="product_name_6"></th>
			<th class="col_10"><input type="number" id="order_amount_6"></th>
			<th class="col_10"><input type="number" id="delivery_amount_6"></th>
			<th class="col_10"><input type="number" id="price_6"></th>
			<th class="col_10"><input type="number" id="fee_6"></th>
			<th class="col_20"><input type="text" id="notes_6"></th>
		</tr>
		<tr>
			<th class="col_10"><input type="text" class="productID_1" id="productID_7"></th>
			<th class="col_30"><input type="text" id="product_name_7"></th>
			<th class="col_10"><input type="number" id="order_amount_7"></th>
			<th class="col_10"><input type="number" id="delivery_amount_7"></th>
			<th class="col_10"><input type="number" id="price_7"></th>
			<th class="col_10"><input type="number" id="fee_7"></th>
			<th class="col_20"><input type="text" id="notes_7"></th>
		</tr>
		<tr>
			<th class="col_10"><input type="text" class="productID_1" id="productID_8"></th>
			<th class="col_30"><input type="text" id="product_name_8"></th>
			<th class="col_10"><input type="number" id="order_amount_8"></th>
			<th class="col_10"><input type="number" id="delivery_amount_8"></th>
			<th class="col_10"><input type="number" id="price_8"></th>
			<th class="col_10"><input type="number" id="fee_8"></th>
			<th class="col_20"><input type="text" id="notes_8"></th>
		</tr>
		<tr>
			<th class="col_10"><input type="text" class="productID_1" id="productID_9"></th>
			<th class="col_30"><input type="text" id="product_name_9"></th>
			<th class="col_10"><input type="number" id="order_amount_9"></th>
			<th class="col_10"><input type="number" id="delivery_amount_9"></th>
			<th class="col_10"><input type="number" id="price_9"></th>
			<th class="col_10"><input type="number" id="fee_9"></th>
			<th class="col_20"><input type="text" id="notes_9"></th>
		</tr>
		</table>
		<table class="delivery_table">
		<tr>
			<th class="col_10">交货地址</th>
			<th class="col_50"><input type="text" id="delivery_address"></th>
			<th class="col_10">总金额合计</th>
			<th class="col_30"><input type="number" id="total_fee"></th>
		</tr>
		</table>		
		<div class="head_row">
 			<label for="receive_man" style="width:150px">送货单位经办人</label>
 			<input type="text" id="receive_man" style="width:250px" value=''>
 			<label for="delivery_man">经办人</label>
 			<input type="text" id="delivery_man" value=''>
 		</div>

 		<div class="head_row" style="margin-bottom:40px">
 		   <button type="submit" class="btn btn-primary" id="submit_1">点击生成送货单</button>
 		</div>

 		
 	</div>


  </div>
 
 {% endblock %}

{% block javascript %}

 	<script type="text/javascript">
	$(document).ready(function(){
		$("#sales_box").show();	
		$("#delivery").addClass('subtitle_focus');

		var date=new Date();
		var newdate= date.getFullYear()+'-'+(parseInt(date.getMonth())+1)+'-'+date.getDate();
		$("#delivery_time").val(newdate);

		var choice = {{ choice|safe }};
		if(choice==1){
			$("#choice_1_box").show();

			$("#submit_1").click(function(){
			var maxnum=0;

				$(".productID_1").each(function(a,b){
					var temp = $.trim($(b).val());
					if(temp.length!=0){
						var num = $(b).attr("id").split("_")[1];
						if(num>maxnum){
							maxnum=num;
						}
					}
				});

				var deliveryID=$("#deliveryID").val();
				var delivery_name=$("#delivery_name").val();
				var delivery_time=$("#delivery_time").val();
				var receive_man=$("#receive_man").val();
				var delivery_man=$("#delivery_man").val();
				var total_fee=$("#total_fee").val();
				var delivery_address=$("#delivery_address").val();
				var choice=1;

				for(var i=1;i<=maxnum;i++){
					console.log(i);
					var productID=$("#productID_"+i).val();
					var product_name=$.trim($("#product_name_"+i).val());
					var order_amount=$.trim($("#order_amount_"+i).val());
					var delivery_amount=$.trim($("#delivery_amount_"+i).val());
					var price=$.trim($("#price_"+i).val());
					var fee=$.trim($("#fee_"+i).val());
					var notes=$.trim($("#notes_"+i).val());

					if(productID.length==0){
						alert("第"+i+"行的订单号不能为空");
						i=maxnum;
					}else if(order_amount.length==0){
						alert("第"+i+"行的订单数目不能为空");
						i=maxnum;
					}else if(delivery_amount.length==0){
						alert("第"+i+"行的送货数目不能为空");
						i=maxnum;
					}else if(price.length==0){
						alert("第"+i+"行的单价不能为空");
						i=maxnum;
					}else if(product_name.length==0){
						alert("第"+i+"行的产品名称不能为空");
						i=maxnum;
					}else if(fee.length==0){
						alert("第"+i+"行的金额不能为空");
						i=maxnum;
					}else{
						$.ajax({
		                      type : "POST",
		                      url : "/sales/fill_delivery/",
		                      data:{'deliveryID':deliveryID,'choice':choice,'delivery_name':delivery_name,'delivery_time':delivery_time,'receive_man':receive_man,'delivery_man':delivery_man,'delivery_address':delivery_address,'total_fee':total_fee,'productID':productID,'product_name':product_name,'order_amount':order_amount,'delivery_amount':delivery_amount,'price':price,'fee':fee,'notes':notes},
		                      dataType : "json",
		                      success : function(data) {  
		                      		if(data==1){
		                      			maxnum--;
		                      			if(maxnum==0){
			                      			alert("录入成功");
			                      			window.location.href='/sales/delivery_list/1';
			                      		}
		                      		}else{
		                      			alert("订单号为"+data.code+"录入失败："+data.message);
		                      			i=maxnum;
		                      		}
		                      }
                		  })
					}

				}
			})

 			$(".productID_1").blur(function(){
 				var productID = $(this).val();
 				if(productID!=''){
 					var num = $(this).attr("id").split("_")[1];
	 				$.ajax({
	                      type : "POST",
	                      url : "/sales/get_details_from_order/",
	                      data:{'productID':productID},
	                      dataType : "json",
	                      success : function(data){  
	                      		if(data==0){
	                      			alert("没有订单号为"+productID+"的订单信息")
	                      		}else{
	                      			$("#product_name_"+num).val(data[0]);
		                      	    $("#order_amount_"+num).val(data[1]);
		                      		$("#delivery_amount_"+num).val(data[1]);
		                      		$("#price_"+num).val(data[2]);
		                      		$("#fee_"+num).val(data[3]);
		                      		$("#notes_"+num).val(data[4]);
	                      		}
	                      }
	                  })
 				}
 			})
		}
//choice1 end

	})</script>

{% endblock %}