 {% extends "base_erp.html" %}
 {% load i18n admin_static %}

{% block head %}
<link rel="stylesheet" href="{% static "erp/css/sales.css" %}">
{% endblock %}
			{% block inner_header %}
			{% endblock %}	


 {% block main %}
 <div class="main" style="overflow:hidden">
 	<div class="line2">
	销售：成本单	
	</div>	

 	<div class="head_row">
 			<label for="productID" style="width:200px">产品ID（施工单号）</label>
 			<input  type="text" id="productID">
 		</div>
 	<table class="cost_table" style="margin-top: 20px;">
		<tr>
			<th class="col_15">客户名<span class="red">*</span></th>
			<td class="col_20"> <input type="text" id="customer_name"  ></td>
			<th class="col_15">产品名称<span class="red">*</span></th>
			<td class="col_20"> <input type="text" id="product_name" ></td>
			<th class="col_10">日期<span class="red">*</span></th>
			<td class="col_20"> <input type="text" id="create_time" onClick="WdatePicker()"></td>
		</tr>
	</table>
 	<table class="cost_table">
		<tr>
			<th class="col_15">表面处理<span class="red">*</span></th>
			<td class="col_55"> <input type="text" id="surface"  ></td>
			<td class="col_30"> <input type="text" id="surface_price" ></td>
		</tr>
		<tr>
			<th class="col_15">原料名称<span class="red">*</span></th>
			<td class="col_55">
					<select name="material" id="material" style="width:100%;margin-right:0">
 			 			<option value="1">250克灰底白板</option>
 			 			<option value="2">250克白底白板</option>
						<option value="3">300克灰底白板</option>
						<option value="4">300克白底白板</option>
						<option value="5">350克灰底白板</option>
						<option value="6">350克白底白板</option>
						<option value="7">400克灰底白板</option>
						<option value="8">400克白底白板</option>
						<option value="9">450克灰底白板</option>
						<option value="10">450克白底白板</option>
						<option value="11">80克双胶纸</option>
						<option value="12">100克双胶纸</option>
						<option value="13">128克铜版纸</option>
						<option value="14">157克铜版纸</option>
						<option value="15">210克白卡</option>
						<option value="16">230克白卡</option>
						<option value="17">250克白卡</option>
						<option value="18">300克白卡</option>
						<option value="15">350克白卡</option>
						<option value="16">250克铜版卡</option>
						<option value="17">300克铜版卡</option>
						<option value="18">350克铜版卡</option>
 			 		</select>	
			</td>
			<td class="col_30">
					<select name="material_price" id="material_price" style="width:100%;margin-right:0">
 			 			<option value="1">0.80</option>
 			 			<option value="2">0.92</option>
						<option value="3">0.92</option>
						<option value="4">1.04</option>
						<option value="5">1.04</option>
						<option value="6">1.18</option>
						<option value="7">1.18</option>
						<option value="8">1.34</option>
						<option value="9">1.33</option>
						<option value="10">1.51</option>
						<option value="11">0.45</option>
						<option value="12">0.58</option>
						<option value="13">0.68</option>
						<option value="14">0.83</option>
						<option value="15">1.05</option>
						<option value="16">1.15</option>
						<option value="17">1.18</option>
						<option value="18">1.41</option>
						<option value="15">1.65</option>
						<option value="16">1.24</option>
						<option value="17">1.49</option>
						<option value="18">1.74</option>
 			 		</select>	
 			 	</td>
		</tr>
		<tr>
			<th class="col_15">底纸用料<span class="red">*</span></th>
			<td class="col_55">
				<select name="wl_feizhi" id="wl_feizhi" style="width:100%;margin-right:0">
 			 			<option value="1">0g</option>
 			 			<option value="2">90g</option>
						<option value="3">100g</option>
						<option value="4">110g</option>
						<option value="5">120g</option>
 			 		</select>	
 			 	</td>
			<td class="col_30">
			<select name="wl_feizhi_price" id="wl_feizhi_price" style="width:100%;margin-right:0">
 			 			<option value="1">0</option>
 			 			<option value="2">0.85</option>
						<option value="3">0.9</option>
 			 	</select>
 			 </td>
		</tr>
		<tr>
			<th class="col_15">瓦楞用料<span class="red">*</span></th>
			<td class="col_55">
			<select name="wl_waleng" id="wl_waleng" style="width:100%;margin-right:0">
 			 			<option value="1">0g</option>
 			 			<option value="2">90g</option>
						<option value="3">110g</option>
 			 	</select>
 			 </td>
			<td class="col_30">
			<select name="wl_waleng_price" id="wl_waleng_price" style="width:100%;margin-right:0">
 			 			<option value="1">0</option>
 			 			<option value="2">0.85</option>
						<option value="3">0.9</option>
 			 	</select>
			</td>
		</tr>
	</table>
 	<table class="cost_table">
		<tr>
		<th class="col_15">大料张数<span class="red">*</span></th>
			<td class="col_85"> <input type="number" id="daliao"  ></td>
		</tr>
		<tr>
		<th class="col_15">开料尺寸<span class="red">*</span></th>
			<td class="col_85"> <input type="number" id="size"  ></td>
		</tr>
		<tr>
		<th class="col_15">人工费</th>
			<td class="col_85"> <input type="number" id="worker_fee" value=0 ></td>
		</tr>
		<tr>
		<th class="col_15">其他</th>
			<td class="col_85"> <input type="number" id="other_fee" value=0 ></td>
		</tr>
		<tr>
		<th class="col_15">备注</th>
			<td class="col_85"> <input type="text" id="notes"  ></td>
		</tr>
		<th class="col_15">成本<span class="red">*</span></th>
			<td class="col_85"> <input type="number" id="total_fee" value='0'></td>
		</tr>
	</table>

  	
 		<div class="head_row" style="margin-bottom:40px">
 			<button type="submit" class="btn btn-primary" id="add">点击计算总成本</button>
 		   <button type="submit" class="btn btn-primary" id="submit">点击生成成本单</button>
 		</div>

  </div>
 
 {% endblock %}

{% block javascript %}

 	<script type="text/javascript">
	$(document).ready(function(){
		$("#sales_box").show();	

		$("#cost").addClass('subtitle_focus');	

		var material_list={'250g灰底白板A级':'0.8','300g灰底白板A级':'0.9','230g白卡':'1.25','300g白底白板A级':'1.35'};
		var surface_list={'上光':'0.2','吸塑':'0.4','光膜':'0.5','压膜':'0.7','烫金':'1.6','撒粉':'1.2','对裱':'0.3'};
   		var wl_waleng_list={'1':"0",'2':"0.85",'3':'0.9'};

		$("#productID").blur(function(){
			var productID=$(this).val();
			$.ajax({
                  type : "POST",
                  url : "/sales/get_details_from_process/",
                  data:{'productID':productID},
                  dataType : "json",
                  success : function(data) {   
                  console.log(data); 
                  	$("#customer_name").val(data[1]);
                  	$("#product_name").val(data[2]);
                  	$("#create_time").val(data[3]);
                  	$("#surface").val(data[4]);
                  	//$("#material").val(data[5]);
                  	//$("#wl_feizhi").val(data[6]);
                  	//$("#wl_waleng").val(data[7]);
                  	$("#daliao").val(data[8]);
                  	$("#size").val(data[9]);
                  	//$("#material_price").val(material_list[data[5]]);
                  	$("#surface_price").val(surface_list[data[4]]);
                  	//$("#wl_waleng_price").val(wl_waleng_list[data[7]]);
                  	//$("#wl_feizhi_price").val(wl_waleng_list[data[7]]);
					var mater=data[5];
					$("option").each(function(a,b){
			                if($(b).val()==mater){//判断值
			                    $(b).attr("selected",true);
			                }
					});
					var wl_feizhi=data[6];
					$("#wl_feizhi>option").each(function(a,b){
			                if($(b).val()==wl_feizhi){//判断值
			                    $(b).attr("selected",true);
			                }
					});
					var wl_waleng=data[7];
					$("#wl_waleng>option").each(function(a,b){
			                if($(b).val()==wl_waleng){//判断值
			                    $(b).attr("selected",true);
			                }
					});
					$("#wl_waleng_price>option").each(function(a,b){
			                if($(b).val()==wl_waleng){//判断值
			                    $(b).attr("selected",true);
			                }
					});
					$("#wl_feizhi_price>option").each(function(a,b){
			                if($(b).val()==wl_waleng){//判断值
			                    $(b).attr("selected",true);
			                }
					});

                  }
              })

		})

		$("#add").click(function(){
			var surface_price=Number($("#surface_price").val()).toFixed(2);
			var material_price=Number($("#material_price").val()).toFixed(2);
			var wl_waleng_price=Number($("#wl_waleng_price").val()).toFixed(2);
			var daliao=$("#daliao").val();
			var size=$("#size").val();
			var worker_fee=Number($("#worker_fee").val()).toFixed(2);
			var other_fee=Number($("#other_fee").val()).toFixed(2);
			var total_fee=(parseFloat(surface_price)+parseFloat(material_price)+parseFloat(wl_waleng_price))*parseFloat(daliao)*parseFloat(size)+parseFloat(worker_fee)+parseFloat(other_fee);
			$("#total_fee").val(total_fee);
		})


		$("#submit").click(function(){
			var productID=$("#productID").val();
			var customer=$.trim($("#customer_name").val());
			var create_time=$.trim($("#create_time").val());
			var product_name=$.trim($("#product_name").val());
			var surface=$("#surface").val();
			var material=$("#material").val();
			var wl_waleng=$("#wl_waleng").val();
			var wl_feizhi=$("#wl_feizhi").val();
			var surface_price=Number($("#surface_price").val()).toFixed(2);
			var material_price=Number($("#material_price").val()).toFixed(2);
			var wl_waleng_price=Number($("#wl_waleng_price").val()).toFixed(2);
			var wl_feizhi_price=Number($("#wl_feizhi_price").val()).toFixed(2);
			var daliao=$("#daliao").val();
			var size=$("#size").val();
			var worker_fee=Number($("#worker_fee").val()).toFixed(2);
			var other_fee=Number($("#other_fee").val()).toFixed(2);
			var notes=$("#notes").val();
			var total_fee=Number($("#total_fee").val()).toFixed(2);

			
				if(total_fee==0){
					alert("请点击生成总额,成本不能为0");
				}else{
				  $.ajax({
		              type : "POST",
		              url : "/sales/fill_cost/",
		              data:{'productID':productID,'customer':customer,'create_time':create_time,'product_name':product_name,'surface':surface,'material':material,'wl_waleng':wl_waleng,'wl_feizhi':wl_feizhi,'surface_price':surface_price,'material_price':material_price,'wl_waleng_price':wl_waleng_price,'wl_feizhi_price':wl_feizhi_price,'daliao':daliao,'size':size,'worker_fee':worker_fee,'other_fee':other_fee,'notes':notes,'total_fee':total_fee},
		              dataType : "json",
		              success : function(data) {    
		                if(data==1){
		                	alert("录入成功");
		                   window.location.href='/sales/cost_list/1';
		                }else{
		                  alert("录入失败:"+data.message);
		                }
		              }
		          })
			}
		})

    	var date=new Date();
		var newdate= date.getFullYear()+'-'+(parseInt(date.getMonth())+1)+'-'+date.getDate();
		$("#create_time").val(newdate);


	})</script>

{% endblock %}