 {% extends "base_erp.html" %}
 {% load i18n admin_static %}

{% block head %}
<link rel="stylesheet" href="{% static "erp/css/sales.css" %}">
{% endblock %}

			{% block inner_header %}
					
			{% endblock %}			

 {% block main %}
 <div class="main" style="overflow:hidden;">
 			<div class="line2">
							施工单
				</div>	

 	<div class="head_row">
		<label for="customer_name" style="width:250px">施工单号（订单号，产品ID）:</label>
 		<input  type="text" id="productID"  value={{ records.0 }} disabled>
	</div>
	<div class="head_row" style="height:70px" id="bcTarget_row">
		<label for="customer_name">条形码:</label>
		<iframe src="" frameborder="0" id="barcode_iframe"></iframe>
	</div>

   	<table class="process_table" style="margin-top: 20px;" >
		<tr>
			<th class="col_10">客户名</th>
			<td class="col_15"> <input type="text" id="customer_name"  value={{ records.1 }}></td>
			<th class="col_10">开单日期</th>
			<td class="col_15"> <input type="text" id="create_time" value={{ records.2}} onClick="WdatePicker()"></td>
			<th class="col_10">交货期</th>
			<td class="col_15"> <input type="text" id="deadline" value={{ records.3 }} onClick="WdatePicker()"></td>
			<th class="col_10">预警期</th>
			<td class="col_15"> <input type="text" id="alerttime" value={{ records.4 }} onClick="WdatePicker()"></td>
		</tr>
	</table>
   	<table class="process_table" >
		<tr>
			<th class="col_10">产品名</th>
			<td class="col_20"> <input type="text" id="product_name"  value={{ records.5 }} ></td>
			<th class="col_10">号码</th>
			<td class="col_30"> 
				<input type="text" id="number_1" style="height:25px;border-bottom:solid" value={{ records.6}}>
			  	<input type="text" id="number_2" style="height:25px;" value={{ records.7 }}>
					</td>
			<th class="col_10">数目</th>
			<td class="col_20"> <input type="text" id="amount" value={{ records.8 }}></td>
		</tr>
	</table>
	 <table class="process_table" >
		<tr>
			<th class="col_10">拼板</th>
			<td class="col_10"> <input type="text" id="pinban"  value={{ records.9 }}></td>
			<th class="col_10">印数</th>
			<td class="col_10"> <input type="text" id="yinshu" value={{ records.10 }} ></td>
			<th class="col_10">印刷</th>
			<td class="col_10"> <input type="text" id="yinsha" value={{ records.11 }} ></td>
			<th class="col_10">加印数</th>
			<td class="col_10"> <input type="text" id="jiayinshu" value={{ records.12 }} ></td>
			<th class="col_10">针脚</th>
			<td class="col_10"> <input type="text" id="zhenjiao" value={{ records.13 }} ></td>
		</tr>
	</table>
	 <table class="process_table" >
		<tr>
			<th class="col_10">总印数</th>
			<td class="col_30"> <input type="text" id="total_yinshu" value={{ records.14 }}  ></td>
			<th class="col_10">压痕</th>
			<td class="col_20"> <input type="text" id="yaheng"  value={{ records.15 }} ></td>
			<th class="col_10">另印要求</th>
			<td class="col_20"> <input type="text" id="lingyin" value={{ records.16 }} ></td>
		</tr>
	</table>
	<table class="process_table" >
		<tr>
			<th class="col_10">表面处理</th>
			<td class="col_30"> <input type="text" id="surface" value={{ records.17 }}></td>
			<th class="col_10">工序</th>
			<td class="col_20"> <input type="text" id="process_step" value={{ records.18 }} ></td>
			<th class="col_10">备注</th>
			<td class="col_20"> <input type="text" id="notes" value={{ records.19 }} ></td>
		</tr>
	</table>
	<table class="process_table" >
		<tr>
			<th class="col_20">原料名称</th>
			<th class="col_20">大料张数</th>
			<th class="col_20">开料尺寸</th>
			<th class="col_20">开数</th>
			<th class="col_20">开印数</th>
		</tr>
		<tr>
			<th class="col_20"><input type="text" id="material" value={{ records.20 }}></th>
			<th class="col_20"><input type="text" id="daliao" value={{ records.21 }}></th>
			<th class="col_20"> <input type="text" id="size" value={{ records.22 }}></th>
			<th class="col_20"><input type="text" id="kaishu" value={{ records.23 }}></th>
			<th class="col_20"><input type="text" id="kaiyin" value={{ records.24 }}></th>
		</tr>
	</table>
	<table class="process_table" >
		<tr>
			<th class="col_20">附带材料</th>
			<th class="col_80"><input type="text" id="fudai" value={{ records.25 }}></th>
		</tr>
	</table>
	<table class="process_table" >
		<tr>
			<th class="col_100"><textarea name="" id="quality">{{ records.26 }}</textarea></th>
		</tr>
	</table>
	<table class="process_table" >
		<tr>
			<th class="col_10">瓦楞要求</th>
			<th class="col_10">开料尺寸</th>
			<td class="col_20"> <input type="text" id="wl_size" value={{ records.27 }}></td>
			<th class="col_10">所开筒尺寸</th>
			<td class="col_20"> <input type="text" id="wl_size2"  value={{ records.28 }} ></td>
			<th class="col_10">粗细瓦楞</th>
			<td class="col_20"> <input type="text" id="wl_thin" value={{ records.29 }} ></td>
		</tr>
		<tr>
			<th class="col_10">瓦楞要求</th>
			<th class="col_10">废纸用料</th>
			<td class="col_20"> <input type="text" id="wl_feizhi" value={{ records.30 }}></td>
			<th class="col_10">瓦楞用料</th>
			<td class="col_20"> <input type="text" id="wl_waleng" value={{ records.31 }}></td>
			<th class="col_10">裱料情况</th>
			<td class="col_20"> <input type="text" id="wl_biaoliao" value={{ records.32 }}></td>
		</tr>

	</table>

	 <div class="head_row last_row" style="margin-bottom:40px">
 		   <button type="submit" class="btn btn-primary" id="delete">删除</button>
 		   <button type="submit" class="btn btn-primary" id="modify">修改</button>
 		   <button type="submit" class="btn btn-primary" id="print" onclick="javascript:window.print()" />打印</button>
  		</div>
 		
 		<div class="surface_pop pop_box">
 			<h2>表面处理选择：</h2>
 			 <div class="pop_row">
 			 	 	<label for="">上光</label>
 					<input type="radio" id="" name="surface" value="1"  />
 					<label for="">吸塑</label>
 					<input type="radio" id="" name="surface" value="2"  />
  					<label for="">光膜</label>
 					<input type="radio" id="" name="surface" value="3"  />
 		 	</div>
 			 <div class="pop_row">
 			 	 	<label for="">压膜</label>
 					<input type="radio" id="" name="surface" value="4"  />
 					<label for="">烫金</label>
 					<input type="radio" id="" name="surface" value="5"  />
  					<label for="">撒粉</label>
 					<input type="radio" id="" name="surface" value="6"  />
 		 	</div>
 			 <div class="pop_row">
 			 	 	<label for="">对裱</label>
 					<input type="radio" id="" name="surface" value="7"  />
 		 	</div>
 		 	<button type="submit" class="btn btn-primary"style="margin-left:100px;margin-top:20px;" id="surface_sure">确定</button>
 		</div>

 		<div class="material_pop pop_box">
 			<h2>原料选择：</h2>
 			 <div class="pop_row">
 					<label for="">300g灰底白板A级</label>
 					<input type="radio" id="" name="material" value="1"  />
 		 	</div>
 		 	 <div class="pop_row">
 					<label for="">300g灰底白板A级</label>
 					<input type="radio" id="" name="material" value="2"  />
 		 	</div>
 			 <div class="pop_row">
 			 	 	<label for="">230g白卡</label>
 					<input type="radio" id="" name="material" value="3"  />
 		 	</div>
 			 <div class="pop_row">
 					<label for="">300g白底白板A级</label>
 					<input type="radio" id="" name="material" value="4"  />
 		 	</div>
 		 	<button type="submit" class="btn btn-primary"style="margin-left:100px;margin-top:20px;" id="material_sure">确定</button>
 		</div>

 		<div class="wl_feizhi_pop pop_box">
 			<h2>底纸用料选择：</h2>
 			 <div class="pop_row">
 					<label for="">90g</label>
 					<input type="radio" id="" name="wl_feizhi" value="1"  />
 		 	</div>
 		 	 <div class="pop_row">
 					<label for="">100g</label>
 					<input type="radio" id="" name="wl_feizhi" value="2"  />
 		 	</div>
 			 <div class="pop_row">
 			 	 	<label for="">110g</label>
 					<input type="radio" id="" name="wl_feizhi" value="3"  />
 		 	</div>
 			 <div class="pop_row">
 					<label for="">120g</label>
 					<input type="radio" id="" name="wl_feizhi" value="4"  />
 		 	</div>
 		 	<button type="submit" class="btn btn-primary"style="margin-left:100px;margin-top:20px;" id="wl_feizhi_sure">确定</button>
 		</div>

 		<div class="wl_waleng_pop pop_box">
 			<h2>底纸用料选择：</h2>
 			 <div class="pop_row">
 					<label for="">90g</label>
 					<input type="radio" id="" name="wl_waleng" value="1"  />
 		 	</div>
 		 	 <div class="pop_row">
 					<label for="">110g</label>
 					<input type="radio" id="" name="wl_waleng" value="2"  />
 		 	</div>
 		 	<button type="submit" class="btn btn-primary"style="margin-left:100px;margin-top:20px;" id="wl_waleng_sure">确定</button>
 		</div>


  </div>
  <OBJECT classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2" height="0" id="wb" name="wb" width="0">
        </OBJECT>

 {% endblock %}

{% block javascript %}

 	<script type="text/javascript">
	$(document).ready(function(){
		$("#sales_box").show();	

		$("#process").addClass('subtitle_focus');

		var width=$("#order_table").width();
		$(".order_table").css("width",width);

		 var href =window.location.href.split("/");
		 var id = href[5];

		 $("#delete").click(function(){
			$.ajax({
              type : "POST",
              url : "/sales/delete_process/",
              data:{'id':id},
              dataType : "json",
              success : function(data) {    
                if(data==1){
                	alert("删除成功");
                   	window.location.href='/sales/process_list/1';
                }else{
                  alert("删除失败:"+data.message);
                }
              }
         })
		})
  	var href =window.location.href.split("/")[5];
		//show页
	//show页
		var show={{ process_show }};
		if(show){
			$('input').attr('disabled',true);
			$('#modify').click(function(){
				window.location.href='/sales/process_modify/'+href;
			})
		}

		var modify={{ process_modify }};
		if(modify){
			$('#print').attr('disabled',true);
			$('#modify').html('确认修改');

			var date=new Date();
			var newdate= date.getFullYear()+'-'+(parseInt(date.getMonth())+1)+'-'+date.getDate();
			$("#create_time").val(newdate);


			$("#modify").click(function(){
				var productID=$.trim($('#productID').val());

				var customer=$.trim($("#customer_name").val());
				var create_time=$.trim($("#create_time").val());
				var deadline=$.trim($("#deadline").val());
				var alerttime=$.trim($("#alerttime").val());
				
				var product_name=$.trim($("#product_name").val());
				var number_1=$.trim($("#number_1").val());
				var number_2=$.trim($("#number_2").val());
				var amount=$.trim($("#amount").val());

				var pinban=$.trim($("#pinban").val());
				var yinshu=$.trim($("#yinshu").val());
				var yinsha=$.trim($("#yinsha").val());
				var jiayinshu=$.trim($("#jiayinshu").val());
				var zhenjiao=$.trim($("#zhenjiao").val());

				var total_yinshu=$.trim($("#total_yinshu").val());
				var yaheng=$.trim($("#yaheng").val());
				var lingyin=$.trim($("#lingyin").val());

				var surface=$.trim($("#surface").val());
				var process=$.trim($("#process_step").val());
				var notes=$.trim($("#notes").val());

				var material=$.trim($("#material").val());
				var daliao=$.trim($("#daliao").val());
				var size=$.trim($("#size").val());
				var kaiyin=$.trim($("#kaiyin").val());
				var kaishu=$.trim($("#kaishu").val());

				var fudai=$.trim($("#fudai").val());
				var quality=$.trim($("#quality").val());
		
				var wl_size=$.trim($("#wl_size").val());
				var wl_size2=$.trim($("#wl_size2").val());
				var wl_thin=$.trim($("#wl_thin").val());
				var wl_feizhi=$.trim($("#wl_feizhi").val());
				var wl_biaoliao=$.trim($("#wl_biaoliao").val());
				var wl_waleng=$.trim($("#wl_waleng").val());

				$.ajax({
				  	type : "POST",
				  	url : "/sales/modify_process/",
				  	data:{'productID':productID,'customer':customer,'create_time':create_time,'deadline':deadline,'alerttime':alerttime,'product_name':product_name,'number_2':number_2,'number_1':number_1,'amount':amount,'pinban':pinban,'yinshu':yinshu,'yinsha':yinsha,'jiayinshu':jiayinshu,'zhenjiao':zhenjiao,'total_yinshu':total_yinshu,'yaheng':yaheng,'lingyin':lingyin,'surface':surface,'process':process,'notes':notes,'material':material,'daliao':daliao,'size':size,'kaishu':kaishu,'kaiyin':kaiyin,'fudai':fudai,'quality':quality,'wl_size':wl_size,'wl_size2':wl_size2,'wl_feizhi':wl_feizhi,'wl_thin':wl_thin,'wl_biaoliao':wl_biaoliao,'wl_waleng':wl_waleng},
				  	dataType : "json",
				  	success : function(data){    
		                if(data==1){
		                	alert("修改成功");
		                   window.location.reload();
		                }else{
		                  alert("修改失败:"+data.message);
		                }
		              }
		          })
  				})

  //附加处理
 var surface_list=['','上光','吸塑','光膜','压膜','烫金','撒粉','对裱'];

 		$("#surface").focus(function(){
 			$(".blocklayer").show();
 			$(".surface_pop").show();
 			$("#surface_sure").click(function(){
 				var num = $("input[type=radio]:checked").val();
 				$("#surface").val(surface_list[num]);
 				$(".pop_box").hide();
 				$(".blocklayer").hide();
 			})

  		})

   var material_list=['','250g灰底白板A级','300g灰底白板A级','230g白卡','300g白底白板A级'];

 		$("#material").focus(function(){
 			$(".blocklayer").show();
 			$(".material_pop").show();
 			$("#material_sure").click(function(){
 				var num = $("input[name=material][type=radio]:checked").val();
 				$("#material").val(material_list[num]);
 				$(".pop_box").hide();
 				$(".blocklayer").hide();
 			})

  		})

   var wl_feizhi_list=['','90g','100g','110g','120g'];

 		$("#wl_feizhi").focus(function(){
 			$(".blocklayer").show();
 			$(".wl_feizhi_pop").show();
 			$("#wl_feizhi_sure").click(function(){
 				var num = $("input[name=wl_feizhi][type=radio]:checked").val();
 				$("#wl_feizhi").val(wl_feizhi_list[num]);
 				$(".pop_box").hide();
 				$(".blocklayer").hide();
 			})

  		})

  	   var wl_waleng_list=['','90g','110g'];

 		$("#wl_waleng").focus(function(){
 			$(".blocklayer").show();
 			$(".wl_waleng_pop").show();
 			$("#wl_waleng_sure").click(function(){
 				var num = $("input[name=wl_waleng][type=radio]:checked").val();
 				$("#wl_waleng").val(wl_waleng_list[num]);
 				$(".pop_box").hide();
 				$(".blocklayer").hide();
 			})

  		})

		}

			var productID2=$("#productID").val();
			/*var zero_length=8-parseInt(String(productID2).length);
			var zero_query='';
			for(i=0;i<zero_length;i++){
				zero_query=zero_query+'0';
			};
			var newcode=zero_query+productID2;
			//$("#bcTarget").barcode(newcode,"code11");*/
			var barcode_src='/barcode/'+productID2;
			$("#barcode_iframe").attr("src",barcode_src);

		function printpreview(){
		    //  打印页面预览
		    wb.execwb(7,1);
		}

	})</script>

{% endblock %}