 {% extends "base_erp.html" %}
 {% load i18n admin_static %}

{% block head %}
<link rel="stylesheet" href="{% static "erp/css/sales.css" %}">
{% endblock %}

			{% block inner_header %}
					
			{% endblock %}	


 {% block main %}
 <div class="main" style="overflow:hidden">
 	<div class="line2">
	销售：成本单	
	</div>	

 	<div class="head_row">
 			<label for="productID" style="width:200px">产品ID（施工单号）</label>
 			<input  type="text" id="productID" value={{records.0 }} disabled>
 		</div>
 	<table class="cost_table" style="margin-top: 20px;">
		<tr>
			<th class="col_10">客户名<span class="red">*</span></th>
			<td class="col_20"> <input type="text" id="customer_name"   value={{records.1 }}></td>
			<th class="col_10">产品名称<span class="red">*</span></th>
			<td class="col_20"> <input type="text" id="product_name"   value={{records.2 }}></td>
			<th class="col_10">日期<span class="red">*</span></th>
			<td class="col_30"> <input type="text" id="create_time"    value={{records.3 }} onClick="WdatePicker()"></td>
		</tr>
	</table>
 	<table class="cost_table">
		<tr>
			<th class="col_10">表面处理<span class="red">*</span></th>
			<td class="col_50"> <input type="text" id="surface"    value={{records.4}} ></td>
			<td class="col_40"> <input type="text" id="surface_price"    value={{records.5 }}></td>
		</tr>
		<tr>
			<th class="col_10">原料名称<span class="red">*</span></th>
			<td class="col_50"> <input type="text" id="material"    value={{records.6 }} ></td>
			<td class="col_40"> <input type="text" id="material_price"    value={{records.7 }} ></td>
		</tr>
		<tr>
			<th class="col_10">底纸用料<span class="red">*</span></th>
			<td class="col_50"> <input type="text" id="wl_feizhi"    value={{records.8 }}></td>
			<td class="col_40"> <input type="text" id="wl_feizhi_price"    value={{records.9 }} ></td>
		</tr>
		<tr>
			<th class="col_10">瓦楞用料<span class="red">*</span></th>
			<td class="col_50"> <input type="text" id="wl_waleng"    value={{records.10 }}></td>
			<td class="col_40"> <input type="text" id="wl_waleng_price"    value={{records.11 }}></td>
		</tr>
	</table>
 	<table class="cost_table">
		<tr>
		<th class="col_10">大料张数<span class="red">*</span></th>
			<td class="col_90"> <input type="text" id="daliao"    value={{records.12 }} ></td>
		</tr>
		<tr>
		<th class="col_10">开料尺寸<span class="red">*</span></th>
			<td class="col_90"> <input type="text" id="size"     value={{records.13 }}></td>
		</tr>
		<tr>
		<th class="col_10">人工费</th>
			<td class="col_90"> <input type="text" id="worker_fee"    value={{records.14 }} ></td>
		</tr>
		<tr>
		<th class="col_10">其他</th>
			<td class="col_90"> <input type="text" id="other_fee"    value={{records.15 }} ></td>
		</tr>
		<tr>
		<th class="col_10">备注</th>
			<td class="col_90"> <input type="text" id="notes"    value={{records.16 }} ></td>
		</tr>
		<th class="col_10">成本<span class="red">*</span></th>
			<td class="col_90"> <input type="text" id="total_fee"    value={{records.17 }} ></td>
		</tr>
	</table>

 		<div class="head_row" style="display:none" id="add_box">
 			<button type="submit" class="btn btn-primary" id="add">点击计算总成本</button>
 		</div>

  	
	 <div class="head_row" style="margin-bottom:40px">
 		   <button type="submit" class="btn btn-primary" id="delete">删除</button>
 		   <button type="submit" class="btn btn-primary" id="modify">修改</button>
 		   <button type="submit" class="btn btn-primary" id="print" onclick="javascript:window.print()" />打印</button>
 		</div>
  </div>
  <OBJECT classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2" height="0" id="wb" name="wb" width="0">
        </OBJECT>
 {% endblock %}

{% block javascript %}

 	<script type="text/javascript">
	$(document).ready(function(){
		$("#sales_box").show();	

		$("#cost").addClass('subtitle_focus');	


		 var href =window.location.href.split("/");
		 var id = href[5];

		 $("#delete").click(function(){
			$.ajax({
              type : "POST",
              url : "/sales/delete_cost/",
              data:{'id':id},
              dataType : "json",
              success : function(data) {    
                if(data==1){
                	alert("删除成功");
                   	window.location.href='/sales/cost/';
                }else{
                  alert("删除失败:"+data.message);
                }
              }
         })
		})

     	var href =window.location.href.split("/")[5];
	
		//show页
		var cost_show={{ cost_show }};
		if(cost_show){
			$('input').attr('disabled',true);
			$('#modify').click(function(){
				window.location.href='/sales/cost_modify/'+href;
			})
		}

		var cost_modify={{ cost_modify }};
		if(cost_modify){
			$('#print').attr('disabled',true);
			$('#modify').html('确认修改');

			var date=new Date();
			var newdate= date.getFullYear()+'-'+(parseInt(date.getMonth())+1)+'-'+date.getDate();
			$("#create_time").val(newdate);


			$("#add_box").show();
			$("#add").click(function(){
				var surface_price=$("#surface_price").val();
				var material_price=$("#material_price").val();
				var wl_waleng_price=$("#wl_waleng_price").val();
				var daliao=$("#daliao").val();
				var size=$("#size").val();
				var worker_fee=$("#worker_fee").val();
				var other_fee=$("#other_fee").val();
				var total_fee=(parseFloat(surface_price)+parseFloat(material_price)+parseFloat(wl_waleng_price))*parseFloat(daliao)*parseFloat(size)+parseFloat(worker_fee)+parseFloat(other_fee);
				$("#total_fee").val(total_fee);
			})


			$("#modify").click(function(){
				var productID=$("#productID").val();
				var customer=$.trim($("#customer_name").val());
				var create_time=$.trim($("#create_time").val());
				var product_name=$.trim($("#product_name").val());
				var surface=$("#surface").val();
				var material=$("#material").val();
				var wl_waleng=$("#wl_waleng").val();
				var wl_feizhi=$("#wl_feizhi").val();
				var surface_price=$("#surface_price").val();
				var material_price=$("#material_price").val();
				var wl_waleng_price=$("#wl_waleng_price").val();
				var wl_feizhi_price=$("#wl_feizhi_price").val();
				var daliao=$("#daliao").val();
				var size=$("#size").val();
				var worker_fee=$("#worker_fee").val();
				var other_fee=$("#other_fee").val();
				var notes=$("#notes").val();
				var total_fee=$("#total_fee").val();
		
			  $.ajax({
	              type : "POST",
	              url : "/sales/modify_cost/",
	              data:{'productID':productID,'customer':customer,'create_time':create_time,'product_name':product_name,'surface':surface,'material':material,'wl_waleng':wl_waleng,'wl_feizhi':wl_feizhi,'surface_price':surface_price,'material_price':material_price,'wl_waleng_price':wl_waleng_price,'wl_feizhi_price':wl_feizhi_price,'daliao':daliao,'size':size,'worker_fee':worker_fee,'other_fee':other_fee,'notes':notes,'total_fee':total_fee},
	              dataType : "json",
	              success : function(data) {    
	                if(data==1){
	                	alert("修改成功");
	                   window.location.reload();
	                }else{
	                  alert("修改失败:"+data.message);
	                }
	              }
	          })
				
			})


		}




	})</script>

{% endblock %}