 {% extends "base_erp.html" %}
 {% load i18n admin_static %}

{% block head %}
<link rel="stylesheet" href="{% static "erp/css/sales.css" %}">
<style>
	.block2{width:1380px;}
</style>
{% endblock %}
			{% block inner_header %}
					
			{% endblock %}			

 {% block main %}
 <div class="main order_main print_order_main" style="overflow:hidden;">
 		<div class="line2">
							印刷订单
				</div>	
	 <div class="head_row" style="display:none">
		<label for="customer_name">订单号:</label>
 		<input  type="text" id="orderID"  value={{ records.0.27 }} disabled>
	</div>
 	<table class="order_table" style="margin-top: 20px;" id="order_table">
		<tr>
			<th class="col_10">客户名<span class="red">*</span></th>
			<td class="col_20"> <input type="text" id="customer_name" value={{ records.0.0}} ></td>
			<th class="col_10">联系人<span class="red">*</span></th>
			<td class="col_20"> <input type="text" id="contacts" value={{ records.0.1}} ></td>
			<th class="col_10">手机号<span class="red">*</span></th>
			<td class="col_30"> <input type="number" id="contacts_phone" value={{ records.0.2}} ></td>
		</tr>
		<tr>
			<th class="col_10">传真</th>
			<td class="col_20"> <input type="text" id="fax" value={{ records.0.3}} ></td>
			<th class="col_10">qq</th>
			<td class="col_20"> <input type="number" id="qq" value={{ records.0.4}} ></td>
			<th class="col_10">电话<span class="red">*</span></th>
			<td class="col_30"> <input type="text" id="call" value={{ records.0.23 }} ></td>
		</tr>
	</table>
	 <table class="order_table">
		<tr>
			<th class="col_20">送货地址</th>
			<td class="col_80"> <input type="text" id="delivery_address"  value={{records.0.22}}></td>
		</tr>
	</table>
	 <table class="order_table">
		<tr>
			<th class="col_5">下单日期<span class="red">*</span></th>
			<th class="col_15">订单号<span class="red">*</span></th>
			<th class="col_10">品名<span class="red">*</span></th>
			<th class="col_5">尺寸<span class="red">*</span></th>
			<th class="col_5">条码<span class="red">*</span></th>
			<th class="col_5">数量<span class="red">*</span></th>
			<th class="col_5">单价<span class="red">*</span></th>
			<th class="col_5">版费<span class="red">*</span></th>
			<th class="col_5">金额<span class="red">*</span></th>
			<th class="col_5">面纸用料<span class="red">*</span></th>
			<th class="col_5">瓦楞用料<span class="red">*</span></th>
			<th class="col_5">瓦型<span class="red">*</span></th>
			<th class="col_5">刀模<span class="red">*</span></th>
			<th class="col_5">菲林<span class="red">*</span></th>
			<th class="col_10">表面处理<span class="red">*</span></th>
			<th class="col_5">交货日期<span class="red">*</span></th>	
		</tr>
		{% for key, value in records.items %}
			<tr>
			<th class="col_5"><input type="text" class="create_time" id="create_time_{{value.items.25.1}}" onClick="WdatePicker()" value={{value.items.5.1}}></th>
			<th class="col_15"><input type="text" class="id_{{value.items.26.1}}" id="productID_{{value.items.25.1}}"  value={{value.items.7.1}}></th>
			<th class="col_10"><input type="text" id="product_name_{{value.items.25.1}}"  value={{value.items.6.1}}></th>
			<th class="col_5"><input type="text" id="size_{{value.items.25.1}}" value={{value.items.16.1}}></th>
			<th class="col_5"><input type="text" id="productID2_{{value.items.25.1}}" value={{value.items.24.1}}></th>
			<th class="col_5"><input type="number" id="amount_{{value.items.25.1}}"  value={{value.items.8.1}} ></th>
			<th class="col_5"><input type="number" id="price_{{value.items.25.1}}"  value={{value.items.9.1}} ></th>
			<th class="col_5"><input type="number" id="edition_fee_{{value.items.25.1}}" value={{value.items.11.1}} ></th>
			<th class="col_5"><input type="number" id="fee_{{value.items.25.1}}" value={{value.items.10.1}}  ></th>
			<th class="col_5"><input type="text" id="material_{{value.items.25.1}}" value={{value.items.15.1}} ></th>
			<th class="col_5"><input type="text" id="wl_material_{{value.items.25.1}}"  value={{value.items.18.1}}></th>
			<th class="col_5"><input type="text" id="wl_kind_{{value.items.25.1}}"  value={{value.items.19.1}}></th>
			<th class="col_5"><input type="text" id="mould_{{value.items.25.1}}"  value={{value.items.20.1}}></th>
			<th class="col_5"><input type="text" id="feilin_{{value.items.25.1}}" value={{value.items.14.1}} ></th>
			<th class="col_10"><input type="text" id="surface_{{value.items.25.1}}" value={{value.items.17.1}}  ></th>
			<th class="col_5"><input type="text" class="deadline" id="deadline_{{value.items.25.1}}" onClick="WdatePicker()" value={{value.items.13.1}}></th>
			</tr>
	{% endfor %}

	</table>
	<table class="order_table">
			<th class="col_10">合计金额<span class="red">*</span></th>
			<td class="col_40"> <input type="text" id="total_fee"  value={{records.0.12}}></td>
			<th class="col_20">备注<span class="red">*</span></th>
			<td class="col_30"> <input type="text" id="notes" value={{records.0.21}}></td>
	</table>

	 <div class="head_row last_row" style="margin-bottom:40px">
 		   <button type="submit" class="btn btn-primary" id="delete">删除</button>
 		   <button type="submit" class="btn btn-primary" id="modify">修改</button>
 		    <button type="submit" class="btn btn-primary" id="print" onclick="javascript:window.print()" />打印</button>
 		</div>

  </div>
   <OBJECT classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2" height="0" id="wb" name="wb" width="0">
        </OBJECT>
 {% endblock %}

{% block javascript %}

 	<script type="text/javascript">
	$(document).ready(function(){
		$("#sales_box").show();	
		$("#order").addClass('subtitle_focus');

		//var productID2={{ records.7}};
		//var productID= {{productID|safe}};
		//var piplineID=productID;

		 var href =window.location.href.split("/");
		 var id = href[5];

		 $("#delete").click(function(){
		 	if(confirm("确认删除？")){
				$.ajax({
	              type : "POST",
	              url : "/sales/delete_order/",
	              data:{'id':id},
	              dataType : "json",
	              success : function(data){    
	                if(data==1){
	                	alert("删除成功");
	                   	window.location.href='/sales/order_list/1';
	                }else{
	                  alert("删除失败:"+data.message);
	                }
	              }
	         })
		}
		})

		var href =window.location.href.split("/")[5];
		//show页
		var order_show={{ order_show }};
		if(order_show){
			$('input').attr('disabled',true);
			$('#modify').click(function(){
				window.location.href='/sales/order_modify/'+href;
			})
			$("input[type=number]").each(function(a,b){
                $(this).attr("type","text");
			});
			$(".create_time").each(function(a,b){
                var datearr=$(this).val().split("-");
                var newdate=datearr[1]+"-"+datearr[2];
                $(this).val(newdate);
			});
			$(".deadline").each(function(a,b){
                var datearr=$(this).val().split("-");
                var newdate=datearr[1]+"-"+datearr[2];
                $(this).val(newdate);
			});

		}

		var order_modify={{ order_modify }};
		if(order_modify){
			$('#print').attr('disabled',true);
			$('#modify').html('确认修改');
			$("#modify").click(function(){
				var customer=$.trim($("#customer_name").val());
				var contacts=$.trim($("#contacts").val());
				var contacts_phone=$.trim($("#contacts_phone").val());
				var fax=$.trim($("#fax").val());
				var qq=$.trim($("#qq").val());
				var call=$.trim($("#call").val());
				var delivery_address=$.trim($("#delivery_address").val());
				var total_fee=$.trim($("#total_fee").val());
				var notes=$.trim($("#notes").val());

				var length={{ length|safe }};
				maxnum=length;

				for(var i=1;i<=length;i++){
					var create_time=$.trim($("#create_time_"+i).val());
					var id=$("#productID_"+i).attr('class').split("_")[1];
					var product_name=$.trim($("#product_name_"+i).val());
					var productID=$.trim($("#productID_"+i).val());
					var size=$.trim($("#size_"+i).val());
					var productID2=$.trim($("#productID2_"+i).val());
					var amount=$.trim($("#amount_"+i).val());
					var price=$.trim($("#price_"+i).val());
					var fee=$.trim($("#fee_"+i).val());
					var edition_fee=$.trim($("#edition_fee_"+i).val());
					var material=$.trim($("#material_"+i).val());
					var wl_material=$.trim($("#wl_material_"+i).val());
					var wl_kind=$.trim($("#wl_kind_"+i).val());	
					var mould=$.trim($("#mould_"+i).val());
					var feilin=$.trim($("#feilin_"+i).val());	
					var surface=$.trim($("#surface_"+i).val());
					var deadline=$.trim($("#deadline_"+i).val());
							if(productID.length==0){
								alert("产品ID不能为空");
							}else if(customer.length==0){
								alert("客户名不能为空");
							}else if(contacts.length==0){
								alert("联系人不能为空");
							}else if(contacts_phone.length==0){
								alert("联系人电话不能为空");
							}else if(product_name.length==0){
								alert("产品名称不能为空");
							}else if(amount.length==0){
								alert("数目不能为空");
							}else if(price.length==0){
								alert("单价不能为空");
							}else if(fee.length==0){
								alert("金额不能为空");
							}else{
								$.ajax({
				                      type : "POST",
				                      url : "/sales/modify_order/",
				                      data:{'id':id,'productID':productID,'customer':customer,'contacts':contacts,'contacts_phone':contacts_phone,'fax':fax,'qq':qq,'create_time':create_time,'product_name':product_name,'amount':amount,'price':price,'fee':fee,'edition_fee':edition_fee,'total_fee':total_fee,'deadline':deadline,'feilin':feilin,'material':material,'size':size,'surface':surface,'wl_material':wl_material,'wl_kind':wl_kind,'mould':mould,'notes':notes,'call':call,'delivery_address':delivery_address,'productID2':productID2},
				                      dataType : "json",
				                      success : function(data) {    
				                        if(data==1){
				                        	alert("修改成功");
				                           window.location.reload();
				                        }else{
				                          alert("修改失败:"+data.message);
				                        }
				                      }
				                  })
							}
				}

			})
	}

//条形码


		$("#fee").focus(function(){
			var amount=$.trim($("#amount").val());
			var price=$.trim($("#price").val());
			if(amount==''){
				alert("请输入数目");
			}else if(price==''){
				alert("请输入单价");
			}else{
				var fee=parseInt(amount)*parseInt(price);
				$("#fee").val(fee);
			}
		})


	    var date=new Date();
		var newdate= date.getFullYear()+'-'+(parseInt(date.getMonth())+1)+'-'+date.getDate();
		$("#create_time").val(newdate);

	})</script>

{% endblock %}