 {% extends "base_erp.html" %}
 {% load i18n admin_static %}

{% block head %}
<link rel="stylesheet" href="{% static "erp/css/sales.css" %}">
{% endblock %}

			{% block inner_header %}
					
			{% endblock %}			

 {% block main %}
 <div class="main" style="overflow:hidden;">
 			<div class="line2">
							施工单
				</div>	

 	<div class="head_row">
		<label for="customer_name" style="width:250px">施工单号（订单号，产品ID）:</label>
 		<input  type="text" id="productID"  value={{ records.0 }} disabled>
	</div>
	<div class="head_row" style="height:30px;margin-top:10px" id="bcTarget_row">
		<label for="customer_name">条形码:</label>
		<iframe src="" frameborder="0" id="barcode_iframe"></iframe>
	</div>

   	<table class="process_table" style="margin-top: 20px;" >
		<tr>
			<th class="col_10">客户名</th>
			<td class="col_15"> <input type="text" id="customer_name"  value={{ records.1 }}></td>
			<th class="col_10">开单日期</th>
			<td class="col_15"> <input type="text" id="create_time" value={{ records.2}} onClick="WdatePicker()"></td>
			<th class="col_10">交货期</th>
			<td class="col_15"> <input type="text" id="deadline" value={{ records.3 }} onClick="WdatePicker()"></td>
			<th class="col_10">预警期</th>
			<td class="col_15"> <input type="text" id="alerttime" value={{ records.4 }} onClick="WdatePicker()"></td>
		</tr>
	</table>
   	<table class="process_table" >
		<tr>
			<th class="col_10">产品名</th>
			<td class="col_20"> <input type="text" id="product_name"  value={{ records.5 }} ></td>
			<th class="col_10">号码</th>
			<td class="col_30"> 
				<input type="text" id="number_1" style="height:25px;border-bottom:solid" value={{ records.6}}>
			  	<input type="text" id="number_2" style="height:25px;" value={{ records.7 }}>
					</td>
			<th class="col_10">数目</th>
			<td class="col_20"> <input type="text" id="amount" value={{ records.8 }}></td>
		</tr>
	</table>
	 <table class="process_table" >
		<tr>
			<th class="col_10">拼板</th>
			<td class="col_10"> <input type="text" id="pinban" style="width:70%"  value={{ records.9 }} >联</td>
			<th class="col_10">印数</th>
			<td class="col_10"> <input type="text" id="yinshu" style="width:70%" value={{ records.10 }} >张</td>
			<th class="col_10">印刷</th>
			<td class="col_10" style='font-size:10.5px'> 
				<input type="text" id="yinsha" style="width:30%" class="f-bold" value={{ records.11 }}>面
				<input type="text" id="yinsha2" style="width:30%" class="f-bold" value={{ records.33 }}>色
			</td>
			<th class="col_10">加印数</th>
			<td class="col_10">+<input type="text" id="jiayinshu" class="f-bold" style="width:70%"  value={{ records.12 }} ></td>
			<th class="col_10">针脚</th>
			<td class="col_10"> <input type="text" id="zhenjiao" value={{ records.13 }} ></td>
		</tr>
	</table>
	 <table class="process_table" >
		<tr>
			<th class="col_10">总印数</th>
			<td class="col_30" style='font-size:10.5px'>
				<input type="text" id="total_yinshu_1"  class="f-bold" style="width:25%" value={{ records.34 }}>X
				<input type="text" id="total_yinshu_2" class="f-bold" style="width:25%" value={{ records.35 }}>=
				<input type="text" id="total_yinshu" class="f-bold" style="width:25%" value={{ records.14 }}>
			</td>
			<th class="col_10">压痕</th>
			<td class="col_20">
				<div class="process_show_box" style="display:none">
					<div id="yaheng_box_1" style="display:none">
					新刀
					</div>
					<div id="yaheng_box_2" style="display:none">
					老刀
					</div>
				</div>	
				<div class="process_modify_box" style="display:none">
					新刀<input type="radio" name="yaheng" value="1">
					老刀<input type="radio" name="yaheng" value="2">
				</div>		
			</td>
			<th class="col_10">另印要求</th>
			<td class="col_20"> <input type="text" id="lingyin" value={{ records.16 }} ></td>
		</tr>
	</table>
	<table class="process_table" >
		<tr>
			<th class="col_10">表面处理</th>
			<td class="col_30">
				<select name="surface" id="surface" class="surface_sel" style="width:100%;margin-right:0">
			 		<option value="1">上光</option>
			 		<option value="2">吸塑</option>
					<option value="3">光膜</option>
					<option value="4">压膜</option>
					<option value="5">烫金</option>
					<option value="6">撒粉</option>
					<option value="7">对裱</option>
					<option value="8">亚膜</option>
					<option value="0">请手动输入</option>
			 	</select>	
			 	<input type="text" class="surface_ipt" style="display:none" id="surface_ipt" value={{records.38}} >

			 </td>
			<th class="col_10">工序{{records.18}}</th>
			<td class="col_20"> 
			<div class="process_show_box" style="display:none">
				<div id="process_box_1" style="display:none">
				单
				</div>
				<div id="process_box_2" style="display:none">
				多
				</div>
			</div>	
			<div class="process_modify_box" style="display:none">
				单<input type="radio" name="process" value="1">
				多<input type="radio" name="process" value="2">
			</div>		
			 </td>
			<th class="col_10">备注</th>
			<td class="col_20"> <input type="text" id="notes" value={{ records.19 }} ></td>
		</tr>
	</table>
	<table class="process_table" >
		<tr>
			<th class="col_20">原料名称</th>
			<th class="col_20">大料张数</th>
			<th class="col_20">开料尺寸</th>
			<th class="col_20">开数</th>
			<th class="col_20">开印数</th>
		</tr>
		<tr>
			<th class="col_20">
					<select name="material" id="material" class="material_sel" style="width:100%;margin-right:0">
 			 			<option value="1">250克灰底白板</option>
 			 			<option value="2">250克白底白板</option>
						<option value="3">300克灰底白板</option>
						<option value="4">300克白底白板</option>
						<option value="5">350克灰底白板</option>
						<option value="6">350克白底白板</option>
						<option value="7">400克灰底白板</option>
						<option value="8">400克白底白板</option>
						<option value="9">450克灰底白板</option>
						<option value="10">450克白底白板</option>
						<option value="11">80克双胶纸</option>
						<option value="12">100克双胶纸</option>
						<option value="13">128克铜版纸</option>
						<option value="14">157克铜版纸</option>
						<option value="15">210克白卡</option>
						<option value="16">230克白卡</option>
						<option value="17">250克白卡</option>
						<option value="18">300克白卡</option>
						<option value="19">350克白卡</option>
						<option value="20">250克铜版卡</option>
						<option value="21">300克铜版卡</option>
						<option value="22">350克铜版卡</option>
						<option value="0">请手动输入</option>
 			 		</select>	
 			 		<input type="text" class="material_ipt" style="display:none" id="material_ipt" value={{records.39}} >

 			 	</th>
			<th class="col_20"><input type="text" id="daliao" value={{ records.21 }}></th>
			<th class="col_20"> <input type="text" id="size" value={{ records.22 }}></th>
			<th class="col_20"><input type="text" id="kaishu" value={{ records.23 }}></th>
			<th class="col_20"><input type="text" id="kaiyin" value={{ records.24 }}></th>
		</tr>
		<tr>
			<th class="col_20">
					<select name="material2" id="material2" class="material2_sel" style="width:100%;margin-right:0">
 			 			<option value="1">250克灰底白板</option>
 			 			<option value="2">250克白底白板</option>
						<option value="3">300克灰底白板</option>
						<option value="4">300克白底白板</option>
						<option value="5">350克灰底白板</option>
						<option value="6">350克白底白板</option>
						<option value="7">400克灰底白板</option>
						<option value="8">400克白底白板</option>
						<option value="9">450克灰底白板</option>
						<option value="10">450克白底白板</option>
						<option value="11">80克双胶纸</option>
						<option value="12">100克双胶纸</option>
						<option value="13">128克铜版纸</option>
						<option value="14">157克铜版纸</option>
						<option value="15">210克白卡</option>
						<option value="16">230克白卡</option>
						<option value="17">250克白卡</option>
						<option value="18">300克白卡</option>
						<option value="19">350克白卡</option>
						<option value="20">250克铜版卡</option>
						<option value="21">300克铜版卡</option>
						<option value="22">350克铜版卡</option>
						<option value="0">请手动输入</option>
 			 		</select>	
 			 		<input type="text" class="material2_ipt" style="display:none" id="material2_ipt" value={{records.45}} >

 			 	</th>
			<th class="col_20"><input type="text" id="daliao2" value={{ records.41 }}></th>
			<th class="col_20"> <input type="text" id="size2" value={{ records.42 }}></th>
			<th class="col_20"><input type="text" id="kaishu2" value={{ records.43 }}></th>
			<th class="col_20"><input type="text" id="kaiyin2" value={{ records.44 }}></th>
		</tr>
	</table>
	<table class="process_table" >
		<tr>
			<th class="col_20">附带材料</th>
			<th class="col_80">
			<div class="process_show_box" style="display:none">
				<div id="fudai_box_1" style="display:none">
					<label for="">实样</label>
				</div>
				<div id="fudai_box_2" style="display:none">
					<label for="">彩色</label>
				</div>
				<div id="fudai_box_3" style="display:none">
					<label for="">彩喷稿</label>
				</div>
				<div id="fudai_box_4" style="display:none">
					<label for="">黑稿</label>
				</div>
				<div id="fudai_box_5" style="display:none">
					<label for="">钢刀尺寸</label>
				</div>
			</div>
		<div class="process_modify_box" style="display:none">
			<label for="">实样</label><input type="radio" name="fudai" value="1">
			<label for="">彩色</label><input type="radio" name="fudai" value="2">
			<label for="">彩喷稿</label><input type="radio" name="fudai" value="3">
			<label for="">黑稿</label><input type="radio" name="fudai" value="4">
			<label for="">钢刀尺寸</label><input type="radio" name="fudai" value="5">
		</div>		
			</th>
		</tr>
	</table>
	<table class="process_table">
		<tr>
			<th class="col_20">印刷质量要求</th>
			<th class="col_80"><input type='text' name="" id="quality" value={{ records.26 }}></th>
		</tr>
	</table>
	<table class="process_table">
		<tr>
			<td class="col_100">
				<iframe src="" id="order_img_iframe" frameborder="0" scrolling="no" style="width:100%;height:100%;"></iframe>
		</tr>
	</table>
	<table class="process_table" >
		<tr>
			<th class="col_10">瓦楞要求</th>
			<th class="col_10">开料尺寸</th>
			<td class="col_20"> <input type="text" id="wl_size" value={{ records.27 }}></td>
			<th class="col_10">所开筒尺寸</th>
			<td class="col_10"> <input type="text" id="wl_size2"  value={{ records.28 }} ></td>
			<th class="col_10">瓦楞数目</th>
			<td class="col_10"> <input type="text" id="wl_amount"  value={{ records.46 }}  ></td>
			<th class="col_10">粗细瓦楞</th>
			<td class="col_10">
				<div class="process_show_box" style="display:none">
					<div id="wl_thin_box_1" style="display:none">
					粗
					</div>
					<div id="wl_thin_box_2" style="display:none">
					细
					</div>
				</div>	
				<div class="process_modify_box" style="display:none">
						粗<input type="radio" name="wl_thin" value="1" checked='checked'>
						细<input type="radio" name="wl_thin" value="2"></td>
				</div>		
			</td>
		</tr>
		</table>
	<table class="process_table" >
		<tr>
			<th class="col_10">瓦楞要求</th>
			<th class="col_10">底纸用料</th>
			<td class="col_20"> 
				<select name="wl_feizhi" id="wl_feizhi" class="wl_feizhi_sel" style="width:100%;margin-right:0">
 			 			<option value="1">0g</option>
 			 			<option value="2">90g</option>
						<option value="3">100g</option>
						<option value="4">110g</option>
						<option value="5">120g</option>
						<option value="0">请手动输入</option>
 			 	</select>
 			 	<input type="text" class="wl_feizhi_ipt" style="display:none" id="wl_feizhi_ipt" value={{ records.36 }}>
 			 </td>

			<th class="col_10">瓦楞用料</th>
			<td class="col_20">
					<select name="wl_waleng" id="wl_waleng" class="wl_waleng_sel" style="width:100%;margin-right:0">
 			 			<option value="1">0g</option>
 			 			<option value="2">90g</option>
						<option value="3">110g</option>
 			 			<option value="0">请手动输入</option>
 			 		</select>
 			 	<input type="text" class="wl_waleng_ipt" style="display:none" id="wl_waleng_ipt" value={{records.37}} >
 			</td>
			<th class="col_10">裱料情况</th>
			<td class="col_20"> <input type="text" id="wl_biaoliao" value={{ records.32 }}></td>
		</tr>

	</table>

	 <div class="head_row last_row" style="margin-bottom:40px">
 		   <button type="submit" class="btn btn-primary" id="delete">删除</button>
 		   <button type="submit" class="btn btn-primary" id="modify">修改</button>
 		   <button type="submit" class="btn btn-primary" id="print" onclick="javascript:window.print()" />打印</button>
  		</div>
 		


  </div>
  <OBJECT classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2" height="0" id="wb" name="wb" width="0">
        </OBJECT>

 {% endblock %}

{% block javascript %}

 	<script type="text/javascript">
	$(document).ready(function(){
		$("#sales_box").show();	

		$("#process").addClass('subtitle_focus');

		var productID2={{records.0}};
		console.log(productID2);
		var order_img_iframe_src = '/upload_show/'+productID2;
		$("#order_img_iframe").attr("src",order_img_iframe_src);

		 var href =window.location.href.split("/");
		 var id = href[5];

		 var fd={{ records.25 }};
		$("input[name=fudai]").each(function(a,b){
                if($(b).val()==fd){//判断值
                    $(b).attr("checked",true);
                    //console.log($(b));
                }
		});

		var pro = {{ records.18 }};
		$("input[name=process]").each(function(a,b){
                if($(b).val()==pro){//判断值
                    $(b).attr("checked",true);
                }
		});

		var yaheng = {{ records.15 }};
		$("input[name=yaheng]").each(function(a,b){
                if($(b).val()==yaheng){//判断值
                    $(b).attr("checked",true);
                }
		});

		var wl_thin = {{ records.29 }};
		$("input[name=wl_thin]").each(function(a,b){
                if($(b).val()==wl_thin){//判断值
                    $(b).attr("checked",true);
                }
		});	

		var mater={{ records.20 }};
		//console.log(typeof(mater));
		if(mater==0){
			$("#material").hide();
 			$("#material_ipt").show();
		}else{
			$("#material>option").each(function(a,b){
                if($(b).val()==mater){//判断值
                    $(b).attr("selected",true);
                }
			});
		}

		var surface = {{ records.17}};
		if(surface==0){
			$("#surface").hide();
 			$("#surface_ipt").show();
		}else{
			$("#surface>option").each(function(a,b){
	                if($(b).val()==surface){//判断值
	                    $(b).attr("selected",true);
	                }
			});	
		}
		
		var wl_feizhi={{ records.30 }};
		//console.log(wl_feizhi);
		if(wl_feizhi==0){
			$("#wl_feizhi").hide();
 			$("#wl_feizhi_ipt").show();
		}else{
			$("#wl_feizhi>option").each(function(a,b){
	                if($(b).val()==wl_feizhi){//判断值
	                    $(b).attr("selected",true);
	                }
			});

		}

		var wl_waleng={{ records.31 }};
		//console.log(wl_waleng);
		if(wl_waleng==0){
			$("#wl_waleng").hide();
 			$("#wl_waleng_ipt").show();
		}else{
			$("#wl_waleng>option").each(function(a,b){
                if($(b).val()==wl_waleng){//判断值
                    $(b).attr("selected",true);
                }
			});

		}

		var mater2={{ records.40 }};
		if(mater2==0){
			console.log("3:"+mater2);
			$("#material2").hide();
 			$("#material2_ipt").show();			
		}else{
			$("#material2>option").each(function(a,b){
                if($(b).val()==mater2){//判断值
                    $(b).attr("selected",true);
                }
			});
		}



		 $("#delete").click(function(){
			$.ajax({
              type : "POST",
              url : "/sales/delete_process/",
              data:{'id':id},
              dataType : "json",
              success : function(data) {    
                if(data==1){
                	alert("删除成功");
                   	window.location.href='/sales/process_list/1';
                }else{
                  alert("删除失败:"+data.message);
                }
              }
         })
		})
  	var href =window.location.href.split("/")[5];
		//show页
	//show页
		var show={{ process_show }};
		if(show){
			$('.process_show_box').show();
			$('input').attr('disabled',true);
			$("select").attr('disabled',true);
			$('#modify').click(function(){
				window.location.href='/sales/process_modify/'+href;
			})
			$('input[type=text]').css("background","#fff");
			$('input[type=number]').css("background","#fff");
			$("input[name=process]").each(function(a,b){
                if($(b).val()==pro){//判断值
                	var box_id = '#process_box_'+$(b).val();
                	$(b).attr("checked",true);
                    $(box_id).show();
                }
			});
			$("input[name=fudai]").each(function(a,b){
                if($(b).val()==fd){//判断值
                   var box_id = '#fudai_box_'+$(b).val();
                    $(b).attr("checked",true);
                    $(box_id).show();
                }
			});
			$("input[name=yaheng]").each(function(a,b){
                if($(b).val()==yaheng){//判断值
                	var box_id = '#yaheng_box_'+$(b).val();
                	$(b).attr("checked",true);
                    $(box_id).show();
                }
			});
			$("input[name=wl_thin]").each(function(a,b){
                if($(b).val()==wl_thin){//判断值
                	var box_id = '#wl_thin_box_'+$(b).val();
                	$(b).attr("checked",true);
                    $(box_id).show();
                }
			});

		}

		var modify={{ process_modify }};
		if(modify){
			$('.process_modify_box').show();
			$('#print').attr('disabled',true);
			$('#modify').html('确认修改');

			var date=new Date();
			var newdate= date.getFullYear()+'-'+(parseInt(date.getMonth())+1)+'-'+date.getDate();
			$("#create_time").val(newdate);

			 $(".wl_feizhi_sel").change(function(){
			 	var choice=$(this).val();
			 	if(choice==0){
			 		$(".wl_feizhi_sel").hide();
			 		$(".wl_feizhi_ipt").show();
			 	}
			 })

			  $(".wl_waleng_sel").change(function(){
			 	var choice=$(this).val();
			 	if(choice==0){
			 		$(".wl_waleng_sel").hide();
			 		$(".wl_waleng_ipt").show();
			 	}
			 })

			  $(".material_sel").change(function(){
			 	var choice=$(this).val();
			 	if(choice==0){
			 		$(".material_sel").hide();
			 		$(".material_ipt").show();
			 	}
			 })

			  $(".surface_sel").change(function(){
			 	var choice=$(this).val();
			 	if(choice==0){
			 		$(".surface_sel").hide();
			 		$(".surface_ipt").show();
			 	}
			 })

			  $(".material2_sel").change(function(){
			 	var choice=$(this).val();
			 	if(choice==0){
			 		$(".material2_sel").hide();
			 		$(".material2_ipt").show();
			 	}
			 })

			$("#modify").click(function(){
				var productID=$.trim($('#productID').val());

				var customer=$.trim($("#customer_name").val());
				var create_time=$.trim($("#create_time").val());
				var deadline=$.trim($("#deadline").val());
				var alerttime=$.trim($("#alerttime").val());
				
				var product_name=$.trim($("#product_name").val());
				var number_1=$.trim($("#number_1").val());
				var number_2=$.trim($("#number_2").val());
				var amount=$.trim($("#amount").val());

				var pinban=$.trim($("#pinban").val());
				var yinshu=$.trim($("#yinshu").val());
				var yinsha=$.trim($("#yinsha").val());
				var jiayinshu=$.trim($("#jiayinshu").val());
				var zhenjiao=$.trim($("#zhenjiao").val());

				var total_yinshu=$.trim($("#total_yinshu").val());
				var yaheng=$.trim($("input[name=yaheng]:checked").val());
				var lingyin=$.trim($("#lingyin").val());

				var surface=$.trim($("#surface").val());
				var process=$.trim($("input[name=process]:checked").val());
				var notes=$.trim($("#notes").val());

				var material=$.trim($("#material").val());
				var daliao=$.trim($("#daliao").val());
				var size=$.trim($("#size").val());
				var kaiyin=$.trim($("#kaiyin").val());
				var kaishu=$.trim($("#kaishu").val());

				var fudai=$("input[name=fudai]:checked").val();
				var quality=$.trim($("#quality").val());
		
				var wl_size=$.trim($("#wl_size").val());
				var wl_size2=$.trim($("#wl_size2").val());
				var wl_thin=$.trim($("input[name=wl_thin]:checked").val());
				var wl_feizhi=$.trim($("#wl_feizhi").val());
				var wl_biaoliao=$.trim($("#wl_biaoliao").val());
				var wl_waleng=$.trim($("#wl_waleng").val());
				var yinsha2=$.trim($("#yinsha2").val());
				var total_yinshu_1=$.trim($("#total_yinshu_1").val());
				var total_yinshu_2=$.trim($("#total_yinshu_2").val());

				var wl_feizhi_ipt=$.trim($("#wl_feizhi_ipt").val());
				var wl_waleng_ipt=$.trim($("#wl_waleng_ipt").val());
				var material_ipt=$.trim($("#material_ipt").val());
				var surface_ipt=$.trim($("#surface_ipt").val());

				var material2=$.trim($("#material2").val());
				var daliao2=$.trim($("#daliao2").val());
				var size2=$.trim($("#size2").val());
				var kaiyin2=$.trim($("#kaiyin2").val());
				var kaishu2=$.trim($("#kaishu2").val());
				var material2_ipt=$.trim($("#material2_ipt").val());

				var wl_amount=$.trim($("#wl_amount").val());
		
				$.ajax({
				  	type : "POST",
				  	url : "/sales/modify_process/",
				  	data:{'productID':productID,'customer':customer,'create_time':create_time,'deadline':deadline,'alerttime':alerttime,'product_name':product_name,'number_2':number_2,'number_1':number_1,'amount':amount,'pinban':pinban,'yinshu':yinshu,'yinsha':yinsha,'jiayinshu':jiayinshu,'zhenjiao':zhenjiao,'total_yinshu':total_yinshu,'yaheng':yaheng,'lingyin':lingyin,'surface':surface,'process':process,'notes':notes,'material':material,'daliao':daliao,'size':size,'kaishu':kaishu,'kaiyin':kaiyin,'fudai':fudai,'quality':quality,'wl_size':wl_size,'wl_size2':wl_size2,'wl_feizhi':wl_feizhi,'wl_thin':wl_thin,'wl_biaoliao':wl_biaoliao,'wl_waleng':wl_waleng,'yinsha2':yinsha2,'total_yinshu_1':total_yinshu_1,'total_yinshu_2':total_yinshu_2,'wl_feizhi_ipt':wl_feizhi_ipt,'wl_waleng_ipt':wl_waleng_ipt,'material_ipt':material_ipt,'surface_ipt':surface_ipt,'material2':material2,'daliao2':daliao2,'size2':size2,'kaishu2':kaishu2,'kaiyin2':kaiyin2,'material2_ipt':material2_ipt,'wl_amount':wl_amount},
				  	dataType : "json",
				  	success : function(data){    
		                if(data==1){
		                	alert("修改成功");
		                   window.location.reload();
		                }else{
		                  alert("修改失败:"+data.message);
		                }
		              }
		          })
  				})

		}

			var productID2=$("#productID").val();
			/*var zero_length=8-parseInt(String(productID2).length);
			var zero_query='';
			for(i=0;i<zero_length;i++){
				zero_query=zero_query+'0';
			};
			var newcode=zero_query+productID2;
			//$("#bcTarget").barcode(newcode,"code11");*/
			var barcode_src='/barcode/'+productID2;
			$("#barcode_iframe").attr("src",barcode_src);

		function printpreview(){
		    //  打印页面预览
		    wb.execwb(7,1);
		}

	})</script>

{% endblock %}