 {% extends "base_erp.html" %}
 {% load i18n admin_static %}

{% block head %}
<link rel="stylesheet" href="{% static "erp/css/statistic.css" %}">
{% endblock %}

			{% block inner_header %}
					
			{% endblock %}			

 {% block main %}
 <div class="main long_main" style="overflow:hidden">
			<div class="line2">
						对账单阶段查询
				</div>	
	{% if isValue %}
 	<div class="head_row"  style="margin-top:0;font-size:20px;margin-left:20px">
			总金额: {{total}} 元
	</div>
	<table class="list_table" style="margin-top: 25px;">
		<tr>
			<th class="col_10">送货日期</th>
			<th class="col_10">订货单</th>
			<th class="col_10">客户名</th>
			<th class="col_20">产品名称</th>
			<th class="col_10">订货数</th>
			<th class="col_10">送货数</th>
			<th class="col_10">单价</th>
			<th class="col_10">金额</th>
			<th class="col_10">备注</th>
		</tr>
	</table>
	<table class="list_table">

	{% for key, value in records.items %}
		<tr>
			<th class="col_10">{{ value.items.0.1 }}</th>
			<th class="col_10">{{ value.items.1.1 }}</th>
			<th class="col_10">{{ value.items.9.1 }}</th>
			<th class="col_20">{{ value.items.2.1 }}</th>
			<th class="col_10">{{ value.items.3.1 }}</th>
			<th class="col_10">{{ value.items.4.1 }}</th>
			<th class="col_10">{{ value.items.5.1 }}</th>
			<th class="col_10">{{ value.items.6.1 }}</th>
			<th class="col_10">{{ value.items.7.1 }}</th>
		</tr>

	{% endfor %}

		</table>

	{% endif %}

	{% if not isValue %}
		当天没有 {% if customer %}客户 {{customer}} 的{% endif %}记录
	{% endif %}

  </div>


 {% endblock %}

{% block javascript %}

 	<script type="text/javascript">
	$(document).ready(function(){
		$("#statistics_box").show();
		$("#statistics_2").addClass('subtitle_focus');
	})</script>

{% endblock %}