 {% extends "base_erp.html" %}
 {% load i18n admin_static %}
{% block head %}
<link rel="stylesheet" href="{% static "erp/css/storage.css" %}">
{% endblock %}


{% block inner_header %}
{% endblock %}

 {% block main %}
 <div class="main" style="overflow:hidden">
 		<div class="line2">
							产品库存(查询结果)
				</div>	

<!--修改框-->
	<div class="" id="storage_modify_box" style="display:none">
 		<table class="storage_table" style="margin-top: 20px;" >
			<tr>
				<th class="col_10">收货单位<span class="red">*</span></th>
				<th class="col_20">产品名称<span class="red">*</span></th>
				<th class="col_10">规格</th>
				<th class="col_10">库存数目<span class="red">*</span></th>
				<th class="col_10">入库时间<span class="red">*</span></th>
				<th class="col_10">出库时间</th>
				<th class="col_20">备注</th>
			</tr>
			<tr>
				<th class="col_10"><input type="text" id="modify_col1"></th>
				<th class="col_20"><input type="text" id="modify_col2"></th>
				<th class="col_10"><input type="text" id="modify_col3"></th>
				<th class="col_10"><input type="text" id="modify_col4" ></th>
				<th class="col_10"><input type="text" id="modify_col5" onClick="WdatePicker()"></th>
				<th class="col_10"><input type="text" id="modify_col6" onClick="WdatePicker()"></th>
				<th class="col_20"><input type="text" id="modify_col7" ></th>
			</tr>
	</table>
		 <div class="head_row" style="margin-bottom:40px">
		   <button type="submit" class="btn btn-primary modify_submit">确认修改</button>
		</div>
	</div>

	 <div class="list_hr" style="margin-top:20px"></div>
	<table class="list_table" style="margin-top: 5px;">
		<tr>
			<th class="col_10">收货单位<span class="red">*</span></th>
			<th class="col_20">产品名称<span class="red">*</span></th>
			<th class="col_10">规格</th>
			<th class="col_10">库存数目<span class="red">*</span></th>
			<th class="col_10">入库时间<span class="red">*</span></th>
			<th class="col_10">出库时间</th>
			<th class="col_20">备注</th>
			<th class="col_5">修改</th>
			<th class="col_5">删除</th>
		</tr>
	</table>
 	<div class="list_hr" style="margin-top:5px"></div>

   	<table class="list_table">
		<tr>
			<th class="col_10">{{ records.0 }}</th>
			<th class="col_20">{{ records.1 }}</th>
			<th class="col_10">{{ records.2 }}</th>
			<th class="col_10">{{ records.3 }}</th>
			<th class="col_10">{{ records.4 }}</th>
			<th class="col_10">{{ records.5 }}</th>
			<th class="col_20">{{ records.6 }}</th>
			<th class="col_5"><input type="button" value="修改" name='modify_storage' class="modify_storage_{{records.8}}" id="modify_storage_{{ records.8 }}"></th>
			<th class="col_5"><input type="button" value="删除" class="delete_storage" id="delete_storage_{{ records.7 }}"></th>
		</tr>
	</table>
 

  </div>
 
 {% endblock %}

{% block javascript %}

 	<script type="text/javascript">
	$(document).ready(function(){
		$("#storage_box").show();	
		$("#storage_1").addClass('subtitle_focus');


		$('input[name=modify_storage]').click(function(){
			var id=$(this).attr("id").split("_")[2];
			$.ajax({
			  	type : "POST",
			  	url : "/storage/get_storagedetails_by_piplineID/",
			  	data:{'id':id},
			  	dataType : "json",
			  	success : function(data) {    
			  		console.log(data);
			  		$("#storage_modify_box").show();
			  		$(".list_table").hide();
			  		$(".list_hr").hide();
			  		$("#modify_col1").val(data[0]);
			  		$("#modify_col2").val(data[1]);
			  		$("#modify_col3").val(data[2]);
			  		$("#modify_col4").val(data[3]);
			  		$("#modify_col5").val(data[4]);
			  		$("#modify_col6").val(data[5]);
			  		$("#modify_col7").val(data[6]);
					var modify_id="modify_submit_"+data[8];
					$('.modify_submit').attr("id",modify_id);

	              }
    	    })
		})

	 	$(".modify_submit").click(function(){
				var id=$(this).attr("id").split("_")[2];
				var customer=$.trim($("#modify_col1").val());
				var product_name=$.trim($("#modify_col2").val());
				var size=$.trim($("#modify_col3").val());
				var amount=$.trim($("#modify_col4").val());
				var in_time=$.trim($("#modify_col5").val());
				var out_time=$.trim($("#modify_col6").val());
				var notes=$.trim($("#modify_col7").val());
				var productID=''
				$.ajax({
				  	type : "POST",
				  	url : "/storage/modify_storage/",
				  	data:{'id':id,'customer':customer,'product_name':product_name,'size':size,'amount':amount,'in_time':in_time,'out_time':out_time,'notes':notes},
				  	dataType : "json",
				  	success : function(data) {    
		                if(data==1){
		             		alert("修改成功");
		             		window.location.reload();
		                }else{
		                  alert("修改失败："+data.message);
		                }


		              }
        	    })
		})

		$(".delete_storage").click(function(){
			if(confirm("确认删除？")){
			var productID=$(this).attr("id").split("_")[2];
			$.ajax({
	              type : "POST",
	              url : "/storage/delete_storage/",
	              data:{'productID':productID},
	              dataType : "json",
	              success : function(data) {    
	                if(data==1){
	                	alert("删除成功");
	                   window.location.reload();
	                }else{
	                  alert("删除失败:"+data.message);
	                }
	              }
	          })
			}
		})
	})</script>

{% endblock %}