 {% extends "base_erp.html" %}
 {% load i18n admin_static %}
{% block head %}
<link rel="stylesheet" href="{% static "erp/css/storage.css" %}">
{% endblock %}



{% block inner_header %}
{% endblock %}

 {% block main %}
 <div class="main" style="overflow:hidden">
		<div class="line2">
							原料出库
				</div>	
 	
 		 <div class="head_row">
 		   <button type="submit" class="btn btn-primary" id="find_storage_out">查询出库单</button>
 		   <div class="searchbar">			
			  <input class="input-medium search-query" id="storage_out_search" type="text" placeholder="原料名称">
			</div>
  		   <button type="submit" class="btn btn-primary" id="new">新建出库单</button>
 	</div>

	 <div class="list_hr" style="margin-top:20px"></div>
	<table class="list_table" style="margin-top: 5px;">
		<tr>
			<th class="col_10">出库单号</th>
			<th class="col_20">名称</th>
			<th class="col_10">产生时间</th>
			<th class="col_20">卖出单位</th>
			<th class="col_10">数量</th>
			<th class="col_10">金额</th>
			<th class="col_10">修改</th>
			<th class="col_10">删除</th>
		</tr>
	</table>
 	<div class="list_hr" style="margin-top:5px"></div>

   	<table class="list_table">
		{% for key, value in records.items %}
		<tr>
			<th class="col_10"><a href="/storage/storage_out/{{ value.items.0.1 }}">{{ value.items.0.1 }}</a></th>
			<th class="col_20">{{ value.items.1.1 }}</th>
			<th class="col_10">{{ value.items.2.1 }}</th>
			<th class="col_20">{{ value.items.3.1 }}</th>
			<th class="col_10">{{ value.items.4.1 }}</th>
			<th class="col_10">{{ value.items.5.1 }}</th>
			<th class="col_10"><a href="/storage/storage_out/{{ value.items.0.1 }}">修改</a></th>
			<th class="col_10"><a href="/storage/storage_out/{{ value.items.0.1 }}">删除</a></th>
		</tr>

{% endfor %}

	</table>


	 <div class="head_row">
		   <button type="submit" class="btn btn-primary" id="later_click">下一页</button>
 		   <button type="submit" class="btn btn-primary" id="pre_click">上一页</button>
 	</div>


  </div>
 
 {% endblock %}

{% block javascript %}

 	<script type="text/javascript">
	$(document).ready(function(){
		$("#storage_box").show();	
		$("#storage_3").addClass('subtitle_focus');

	

		$("#new").click(function(){
			window.location.href="/storage/storage_out/new/";
		})

		$("#search").click(function(){
			if($("#search_box").is(":visible")){
				$("#search_box").slideUp(1000);
			}else{
				$("#search_box").slideDown(1000);
			}	
		})

		$("#find_storage_out").click(function(){
			var storage_out_search=$.trim($("#storage_out_search").val());

			if((storage_out_search=='')){
				alert("请至少填写原料名");
			}else{
				$.ajax({
                      type : "POST",
                      url : "/storage/get_storage_outID_by_product/",
                      data:{'material_name':storage_out_search},
                      dataType : "json",
                      success : function(data){  
                      	if(data!=0){
                      		window.location.href='/storage/storage_out/p/'+data;
                      	}else{
                      		alert("没有相关信息");
                      	}     		
                      }
                })
			}
		})


		 	var href=window.location.href.split("/")[5];
 			console.log(href);
 			var pre_click={{pre_click}}
 			if(pre_click){
 				var pre_num=parseInt(href)-1;
 				$("#pre_click").click(function(){
	 				window.location.href='/storage/storage_out_list/'+pre_num;
	 			})
 			}else{
 				$("#pre_click").attr('disabled',true);
 			}
 			 var later_click={{later_click}}
 			if(later_click){
 				var later_num=parseInt(href)+1;
 				$("#later_click").click(function(){
	 				window.location.href='/storage/storage_out_list/'+later_num;
	 			})
 			}else{
 				$("#later_click").attr('disabled',true);
 			}



	})</script>

{% endblock %}