 {% extends "base_erp.html" %}
 {% load i18n admin_static %}

{% block head %}
<link rel="stylesheet" href="{% static "erp/css/user.css" %}">
{% endblock %}

{% block inner_header %}
{% endblock %}

 {% block main %}
 <div class="main" style="overflow:hidden">
 	<div class="line2">
 		新建员工信息
 	</div>
 		<div class="setting_box" style="width:50%">
 			 <div class="form-group">
			    <label for="InputPhone">手机号<span class="red">*</span></label>
			    <input type="number" class="form-control" id="InputPhone" placeholder="手机号">
			  </div>
			  <div class="form-group">
			    <label for="InputNickname">昵称<span class="red">*</span></label>
			    <input type="text" class="form-control" id="InputNickname" placeholder="昵称">
			  </div>
			  <div class="form-group">
			    <label for="InputPassword">密码<span class="red">*</span></label>
			    <input type="text" class="form-control" id="InputPassword" placeholder="Password">
			  </div>
			   <div class="form-group">
			   	<label for="InputSexy">性别</label><br/>
			    <label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="InputSexy" value="1"> 男
				</label>
				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="InputSexy" value="2"> 女
				</label>
				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="InputSexy" value="0"> 保密
				</label>
			  </div>
			  <div class="form-group">
			    <label for="InputQq">qq</label>
			    <input type="number" class="form-control" id="InputQq" placeholder="qq">
			  </div>
			  <div class="form-group">
			    <label for="InputRole">角色<span class="red">*</span></label>
				   <select class="form-control" id='InputRole'>
					  <option value='0'>超级管理员</option>
					  <option value='1'>系统管理员</option>
					  <option value='2'>销售</option>
					  <option value='3'>生产</option>
					  <option value='4'>财务</option>
					</select>
			  </div>
			  <div class="form-group">
			    <label for="InputPermission">权限</label>
			    <div>
			    	<input type="checkbox" id='p1'><label for="p1">销售</label>
			    	<input type="checkbox" id='p2'><label for="p2">采购</label>
			    	<input type="checkbox" id='p3'><label for="p3">库存</label>
			    	<input type="checkbox" id='p4'><label for="p4">财务</label>
			    	<input type="checkbox" id='p5'><label for="p5">生产管理</label><br>
			    	<input type="checkbox" id='p6'><label for="p6">客户</label>
			    	<input type="checkbox" id='p7'><label for="p7">供应商</label>
			    	<input type="checkbox" id='p8'><label for="p8">员工列表</label>
			    	<input type="checkbox" id='p9'><label for="p9">每日统计</label>
			    	<input type="checkbox" id='p10'><label for="p10">预警信息</label>
			    </div>
			  </div>


			 <div class="head_row">
		  		   <button type="submit" class="btn btn-primary" id="submit">提交</button>
		 	</div>


 		</div>

  </div>
 
 {% endblock %}

{% block javascript %}

 	<script type="text/javascript">
	$(document).ready(function(){
		$("#user_box").show();	
		$("#user_2").addClass('subtitle_focus');
		$("input[type=checkbox]").prop("checked",true);

		$("#InputRole").change(function(){
			var choice = $("#InputRole").val();
			if(choice==0){
				$("input[type=checkbox]").prop("checked",true);
			}else if(choice==1){
				$("input[type=checkbox]").prop("checked",true);
				$("#p8").prop("checked",false);
			}else if(choice==2){
				$("input[type=checkbox]").prop("checked",false);
				$("#p1").prop("checked",true);
				$("#p2").prop("checked",true);
				$("#p6").prop("checked",true);
				$("#p7").prop("checked",true);
				$("#p9").prop("checked",true);
				$("#p10").prop("checked",true);
			}else if(choice==3){
				$("input[type=checkbox]").prop("checked",false);
				$("#p5").prop("checked",true);
				$("#p2").prop("checked",true);
				$("#p3").prop("checked",true);
				$("#p9").prop("checked",true);
				$("#p10").prop("checked",true);
			}else if(choice==4){
				$("input[type=checkbox]").prop("checked",false);
				$("#p5").prop("checked",true);
				$("#p2").prop("checked",true);
				$("#p6").prop("checked",true);
				$("#p7").prop("checked",true);
			}
		})

		$("#submit").click(function(){
			var phone=$.trim($("#InputPhone").val());
			var password=$.trim($("#InputPassword").val());
			var nickname=$.trim($("#InputNickname").val());
			var sexy=$.trim($("#InputSexy").val());
			var qq=$.trim($("#InputQq").val());
			var role=$.trim($("#InputRole").val());
			var p1 = $("#p1").prop("checked")?1:0;
			var p2 = $("#p2").prop("checked")?1:0;
			var p3 = $("#p3").prop("checked")?1:0;
			var p4 = $("#p4").prop("checked")?1:0;
			var p5 = $("#p5").prop("checked")?1:0;
			var p6 = $("#p6").prop("checked")?1:0;
			var p7 = $("#p7").prop("checked")?1:0;
			var p8 = $("#p8").prop("checked")?1:0;
			var p9 = $("#p9").prop("checked")?1:0;
			var p10 = $("#p10").prop("checked")?1:0;
			password_md5 = hex_md5(password);
 
			if(phone.length==0){
				alert("手机号不能为空");
			}else if(password.length==0){
				alert("密码不能为空");
			}else if(nickname.length==0){
				alert("昵称不能为空");
			}else{
				  $.ajax({
                      type : "POST",
                      url : "/users/signup/",
                      data:{'phone':phone,'password':password_md5,'nickname':nickname,'sexy':sexy,'qq':qq,'role':role,'p1':p1,'p2':p2,'p3':p3,'p4':p4,'p5':p5,'p6':p6,'p7':p7,'p8':p8,'p9':p9,'p10':p10},
                      dataType : "json",
                      success : function(data) {    
                        if(data==1){
                        	alert("注册成功");
                           window.location.href='/users/list/1';
                        }else{
                          alert("注册失败:"+data.message);
                        }
                      }
                  })
			}
		})

	})</script>

{% endblock %}